Repository braintrustdata/bt: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, oxlint, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.4.1
    hooks:
      - id: prettier
        files: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx|json|md|mdx|yaml|yml)$
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm exec tsc -p tsconfig.json --noEmit
        language: system
        files: \.ts$
        pass_filenames: false
      - id: oxlint
        name: oxlint
        entry: npx --yes oxlint --max-warnings=0 --fix
        language: system
        files: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx)$
        pass_filenames: true
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt --all
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo-clippy
        entry: cargo clippy --locked --all-targets --all-features --fix --allow-dirty --allow-staged -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

Dotenv no longer loaded by default
  src/auth.rs
  src/env.rs
  src/switch.rs
  tests/evals/js/env-default/env-default.eval.ts
Due: tsc, oxlint, cargo-fmt, cargo-clippy

release: v0.6.0
  Cargo.lock
  Cargo.toml
Due: none

feat: support for gemini coding agent
  README.md
  scripts/skill-smoke-test.sh
  src/setup/mod.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

chore: symlink .gemini/skills to .agents/skills in local scope
  README.md
  scripts/skill-smoke-test.sh
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

chore: say symlink instead of unclear alias description
  README.md
Due: none

fix: gemini in background mode crashed
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

feat: add adaptivefix(eval): add spinner animations with customizable tick strings
  src/eval.rs
Due: cargo-fmt, cargo-clippy

feat: add adaptive total tracking for evaluator data
  scripts/eval-runner.py
Due: none

Add param argument to CLI
  scripts/eval-runner.py
  scripts/eval-runner.ts
  src/eval.rs
  tests/evals/js/eval-params-json-obj/fixture.json
  tests/evals/js/eval-params-json-obj/package.json
  tests/evals/js/eval-params-json-obj/params-json-obj.eval.mjs
  tests/evals/js/eval-params-kv/fixture.json
  tests/evals/js/eval-params-kv/package.json
  tests/evals/js/eval-params-kv/params-kv.eval.mjs
  tests/evals/py/params_json_obj/eval_params_json_obj.py
  tests/evals/py/params_json_obj/fixture.json
  tests/evals/py/params_kv/eval_params_kv.py
  tests/evals/py/params_kv/fixture.json
Due: tsc, oxlint, cargo-fmt, cargo-clippy

formatting
  scripts/eval-runner.ts
  src/eval.rs
  tests/evals/js/eval-params-kv/fixture.json
  tests/evals/py/params_kv/fixture.json
Due: tsc, oxlint, cargo-fmt, cargo-clippy

chore: api key creation message shown by default
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

Inform user API key is created during bt setup
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

feat(eval): add adaptive total smoothing for progress bars
  scripts/eval-runner.py
  src/eval.rs
Due: cargo-fmt, cargo-clippy

fix(functions): bundle braintrust sdk by default for js push
  scripts/functions-bundler.ts
  src/functions/mod.rs
  src/functions/push.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

fix(functions): ensure braintrust is staged in python bundles
  src/functions/push.rs
Due: cargo-fmt, cargo-clippy

test(functions): cover python package vendor fallback
  src/functions/push.rs
Due: cargo-fmt, cargo-clippy

chore: sandbox account for now
  Cargo.toml
Due: none

filter out extra params without erroring
  scripts/eval-runner.py
  scripts/eval-runner.ts
  tests/evals/js/eval-params-multi/fixture.json
  tests/evals/js/eval-params-multi/package.json
  tests/evals/js/eval-params-multi/params-multi.eval.mjs
  tests/evals/py/params_multi/eval_params_multi.py
  tests/evals/py/params_multi/fixture.json
Due: tsc, oxlint

formatting
  tests/evals/js/eval-params-multi/params-multi.eval.mjs
Due: oxlint

chore: dist init auto-generated file
  dist-workspace.toml
Due: none

Add param argument to CLI (#134)
  scripts/eval-runner.py
  scripts/eval-runner.ts
  src/eval.rs
  tests/evals/js/eval-params-json-obj/fixture.json
  tests/evals/js/eval-params-json-obj/package.json
  tests/evals/js/eval-params-json-obj/params-json-obj.eval.mjs
  tests/evals/js/eval-params-kv/fixture.json
  tests/evals/js/eval-params-kv/package.json
  tests/evals/js/eval-params-kv/params-kv.eval.mjs
  tests/evals/js/eval-params-multi/fixture.json
  tests/evals/js/eval-params-multi/package.json
  tests/evals/js/eval-params-multi/params-multi.eval.mjs
  tests/evals/py/params_json_obj/eval_params_json_obj.py
  tests/evals/py/params_json_obj/fixture.json
  tests/evals/py/params_kv/eval_params_kv.py
  tests/evals/py/params_kv/fixture.json
  tests/evals/py/params_multi/eval_params_multi.py
  tests/evals/py/params_multi/fixture.json
Due: tsc, oxlint, cargo-fmt, cargo-clippy

chore: update dist file
  Cargo.toml
  dist-workspace.toml
Due: none

chore: remove unused dist config from cargo.toml
  Cargo.toml
Due: none

chore: add homepage for homebrew
  Cargo.toml
  dist-workspace.toml
Due: none

chore: update cargo dist version to use new file format
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  dist-workspace.toml
Due: none

fix: drop WinARM64 support Doesn't compile
  dist-workspace.toml
Due: none

sign windows builds
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  Cargo.toml
  dist-workspace.toml
Due: none

feat: Refine sdk install skills for auto instrumentation
  skills/sdk-install/go.md
  skills/sdk-install/python.md
  skills/sdk-install/ruby.md
  skills/sdk-install/typescript.md
Due: none

Fix progress visualization for evals (#136)
  scripts/eval-runner.py
  src/eval.rs
Due: cargo-fmt, cargo-clippy

feat: Refine sdk install skills for auto instrumentation (#139)
  skills/sdk-install/go.md
  skills/sdk-install/python.md
  skills/sdk-install/ruby.md
  skills/sdk-install/typescript.md
Due: none

feat: windows arm64 new compilation target Removing auto-updater since windows arm64 can not compile it. Not an issue since `bt self update` exists
  dist-workspace.toml
Due: none

release: v0.7.0
  Cargo.lock
  Cargo.toml
Due: none

Add --matrix-param argument to eval
  scripts/eval-runner.py
  scripts/eval-runner.ts
  src/eval.rs
  tests/eval_fixtures.rs
  tests/evals/js/eval-matrix-param-multi-error/fixture.json
  tests/evals/js/eval-matrix-param-multi-error/matrix-multi.eval.mjs
  tests/evals/js/eval-matrix-param-multi-error/package.json
  tests/evals/js/eval-matrix-param-single/fixture.json
  tests/evals/js/eval-matrix-param-single/matrix-single.eval.mjs
  tests/evals/js/eval-matrix-param-single/package.json
  tests/evals/js/eval-matrix-param-terminate/matrix-terminate.eval.mjs
  tests/evals/js/eval-matrix-param-terminate/package.json
Due: tsc, oxlint, cargo-fmt, cargo-clippy

formatting
  scripts/eval-runner.ts
  src/eval.rs
  tests/eval_fixtures.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

fix(cli): surface stable ids in function selection
  src/functions/mod.rs
  src/functions/view.rs
Due: cargo-fmt, cargo-clippy

demo for abhi, remove before merge
  dist-workspace.toml
Due: none

Revert "demo for abhi, remove before merge"
  dist-workspace.toml
Due: none
