Repository braintrustdata/bt: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, oxlint, cargo-fmt, cargo-clippy

tsc:
  name: tsc
  entry: pnpm exec tsc -p tsconfig.json --noEmit
  language: system
  pass_filenames: false

oxlint:
  name: oxlint
  entry: npx --yes oxlint --max-warnings=0 --fix
  language: system
  pass_filenames: true

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  entry: cargo clippy --locked --all-targets --all-features --fix --allow-dirty --allow-staged -- -D warnings
  language: system
  pass_filenames: false

chore: remove all uses of --api-key since the flag has been removed
  README.md
  scripts/eval-runner.py
  src/args.rs
  src/auth.rs
  src/eval.rs
  src/main.rs
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

remove default window from non-project-logs
  src/sync.rs
Due: cargo-fmt, cargo-clippy

feat: Add `--max-concurrency` flag to `bt eval`
  README.md
  scripts/eval-runner-impl.ts
  scripts/eval-runner.py
  src/eval.rs
  tests/eval_fixtures.rs
  tests/evals/js/eval-max-concurrency/max-concurrency.eval.mjs
  tests/evals/js/eval-max-concurrency/package.json
  tests/evals/py/max_concurrency/eval_max_concurrency.py
Due: tsc, oxlint, cargo-fmt, cargo-clippy

Update PR #332
  scripts/eval-runner-impl.ts
  src/eval.rs
  tests/eval_fixtures.rs
  tests/evals/js/eval-max-concurrency/max-concurrency-sampling.eval.mjs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

chore(update)!: remove self update (#281)
  src/main.rs
  src/update.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

Update PR #332
  src/eval.rs
Due: cargo-fmt, cargo-clippy

chore: deduplicate datasets in the root help message
  src/main.rs
Due: cargo-fmt, cargo-clippy

feat(environment): add bt environment
  README.md
  src/environments/api.rs
  src/environments/create.rs
  src/environments/delete.rs
  src/environments/list.rs
  src/environments/mod.rs
  src/environments/update.rs
  src/environments/view.rs
  src/http.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy

chore(ci): update the node-setup action hash used in the ci test
  .github/workflows/tests.yml
Due: none

chore(environment): halve pr size
  src/environments/api.rs
  src/environments/create.rs
  src/environments/delete.rs
  src/environments/list.rs
  src/environments/mod.rs
  src/environments/update.rs
  src/environments/view.rs
  src/http.rs
Due: cargo-fmt, cargo-clippy

chore(environment): --name flag for bt environments create
  src/environments/mod.rs
Due: cargo-fmt, cargo-clippy

chore: instruct the agent to add an env variable only for configurations
  AGENTS.md
Due: none

chore: instruct the agent to add an env variable only for configurations (#337)
  AGENTS.md
Due: none

chore: deduplicate datasets in the root help message (#335)
  src/main.rs
Due: cargo-fmt, cargo-clippy

cedric/update node setup test github ci (#338)
  .github/workflows/tests.yml
Due: none

chore(environment): print server response when deleting environments
  src/environments/api.rs
  src/environments/mod.rs
  src/http.rs
Due: cargo-fmt, cargo-clippy

feat(environment): add environments subcommand (#336)
  README.md
  src/environments/api.rs
  src/environments/mod.rs
  src/http.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy

chore(prompt): listing prompts can filter by environement
  src/prompts/list.rs
Due: cargo-fmt, cargo-clippy

chore(prompt): assign rather than promote prompt
  src/prompts/api.rs
  src/prompts/assign.rs
  src/prompts/mod.rs
Due: cargo-fmt, cargo-clippy

feat(prompt): --environment flag
  src/functions/api.rs
  src/functions/delete.rs
  src/functions/mod.rs
  src/functions/view.rs
  src/http.rs
  src/prompts/api.rs
  src/prompts/delete.rs
  src/prompts/list.rs
  src/prompts/mod.rs
  src/prompts/promote.rs
  src/prompts/view.rs
Due: cargo-fmt, cargo-clippy

feat(prompts): unassign a prompt from an env
  src/prompts/api.rs
  src/prompts/assign.rs
  src/prompts/mod.rs
Due: cargo-fmt, cargo-clippy

feat(prompts): add `bt prompts versions` to see the available versions of a prompt
  README.md
  src/prompts/api.rs
  src/prompts/mod.rs
  src/prompts/versions.rs
  src/util_cmd.rs
Due: cargo-fmt, cargo-clippy

fix: bt prompts versions/view showing the same id in 2 different ways
  src/prompts/view.rs
Due: cargo-fmt, cargo-clippy

chore(prompts): sort `bt prompt versions` output newest first
  src/prompts/api.rs
Due: cargo-fmt, cargo-clippy

feat: package bt for homebrew
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  Cargo.toml
  README.md
  dist-workspace.toml
  src/self_update.rs
Due: cargo-fmt, cargo-clippy

fix(mise): installation instructions using mise
  README.md
Due: none

fix(mise): installation instructions using mise (#340)
  README.md
Due: none

chore: remove all uses of --api-key since the flag has been removed (#325)
  README.md
  scripts/eval-runner.py
  src/args.rs
  src/auth.rs
  src/eval.rs
  src/main.rs
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

chore(prompts): the slop machine removed 140 lines of code without changing anything
  src/functions/mod.rs
  src/http.rs
  src/prompts/api.rs
  src/prompts/delete.rs
  src/prompts/list.rs
  src/prompts/mod.rs
  src/prompts/versions.rs
  src/prompts/view.rs
Due: cargo-fmt, cargo-clippy

chore(prompts): output short id everywhere
  src/prompts/api.rs
  src/prompts/assign.rs
  src/prompts/list.rs
  src/prompts/mod.rs
  src/prompts/view.rs
  src/util_cmd.rs
Due: cargo-fmt, cargo-clippy

fix(prompts): bt prompts/functions view --web now respect --version and --environment
  src/functions/view.rs
  src/prompts/view.rs
  src/utils/app_url.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy

fix(prompts): Positional slug and --slug are now incompatible in `bt prompts`
  src/prompts/mod.rs
Due: cargo-fmt, cargo-clippy

chore(scorer): validate scorer parameters with the backend
  README.md
  src/error.rs
  src/functions/api.rs
  src/functions/create.rs
  src/functions/invoke.rs
  src/functions/mod.rs
  src/functions/prompt_config.rs
  src/main.rs
  src/scorers.rs
  src/utils/text_source.rs
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

chore: instead of a new validation endpoint, use the same insert-function endpoint
  src/functions/api.rs
  src/functions/create.rs
Due: cargo-fmt, cargo-clippy

chore: Preserve structured provider errors in scorer validation
  src/error.rs
  src/functions/api.rs
  src/functions/create.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy

chore: fix test
  src/main.rs
  src/utils/text_source.rs
  tests/cli.rs
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

feat(scorers): validate model parameters (#308)
  README.md
  src/error.rs
  src/functions/api.rs
  src/functions/create.rs
  src/functions/invoke.rs
  src/functions/mod.rs
  src/functions/prompt_config.rs
  src/main.rs
  src/scorers.rs
  src/utils/text_source.rs
  tests/cli.rs
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

feat: add active observability templates
  src/active_observability_template/mod.rs
  src/active_observability_template/pull.rs
  src/active_observability_template/push.rs
  src/active_observability_template/template.rs
  src/functions/api.rs
  src/functions/mod.rs
  src/http.rs
  src/main.rs
  src/topics/api.rs
Due: cargo-fmt, cargo-clippy

fix: preserve active observability wiring
  src/active_observability_template/pull.rs
  src/active_observability_template/push.rs
  src/active_observability_template/template.rs
Due: cargo-fmt, cargo-clippy

refactor: group observability template commands
  src/main.rs
  src/observability/mod.rs
  src/observability/pull.rs
  src/observability/push.rs
  src/observability/template.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  tsc: any of: \.ts$
  oxlint: any of: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx)$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
