Repository braintrustdata/bt: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, oxlint, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.4.1
    hooks:
      - id: prettier
        files: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx|json|md|mdx|yaml|yml)$
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm exec tsc -p tsconfig.json --noEmit
        language: system
        files: \.ts$
        pass_filenames: false
      - id: oxlint
        name: oxlint
        entry: npx --yes oxlint --max-warnings=0 --fix
        language: system
        files: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx)$
        pass_filenames: true
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt --all
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo-clippy
        entry: cargo clippy --locked --all-targets --all-features --fix --allow-dirty --allow-staged -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

fix lockfile
  pnpm-lock.yaml
Due: none

fix some directory stuff
  scripts/eval-runner.ts
  src/eval.rs
  tests/eval_fixtures.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

improve
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  src/eval.rs
  tests/eval_fixtures.rs
Due: cargo-fmt, cargo-clippy

add runner flags
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  src/eval.rs
Due: cargo-fmt, cargo-clippy

feat(projects): add loading spinners for async operations
  Cargo.lock
  Cargo.toml
  src/projects/create.rs
  src/projects/delete.rs
  src/projects/list.rs
  src/projects/switch.rs
  src/projects/view.rs
  src/sql.rs
  src/ui/mod.rs
  src/ui/spinner.rs
Due: cargo-fmt, cargo-clippy

add more tests
  tests/evals/js/eval-cjs/fixture.json
  tests/evals/js/eval-cjs/package.json
  tests/evals/js/eval-cjs/tests/async-import.eval.js
  tests/evals/js/eval-cjs/tests/dirname-filename.eval.js
  tests/evals/js/eval-cjs/tests/helper.js
  tests/evals/js/eval-cjs/tests/module-exports.eval.js
  tests/evals/js/eval-cjs/tests/require-builtin.eval.js
  tests/evals/js/eval-esm/fixture.json
  tests/evals/js/eval-esm/package.json
  tests/evals/js/eval-esm/tests/basic.eval.mjs
  tests/evals/js/eval-esm/tests/top-level-await.eval.mjs
  tests/evals/js/eval-ts-cjs/fixture.json
  tests/evals/js/eval-ts-cjs/package.json
  tests/evals/js/eval-ts-cjs/tests/async-import.eval.ts
  tests/evals/js/eval-ts-cjs/tests/basic.eval.ts
  tests/evals/js/eval-ts-cjs/tests/helper.js
  tests/evals/js/eval-ts-cjs/tsconfig.json
  tests/evals/js/eval-ts-esm/fixture.json
  tests/evals/js/eval-ts-esm/package.json
  tests/evals/js/eval-ts-esm/tests/basic.eval.ts
  tests/evals/js/eval-ts-esm/tests/top-level-await.eval.ts
  tests/evals/js/eval-ts-esm/tsconfig.json
Due: tsc, oxlint

parallelize and fix login
  CONTRIBUTING.md
  scripts/eval-runner.ts
  src/eval.rs
  tests/eval_fixtures.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

fix
  .oxlintrc.json
  scripts/eval-runner.ts
Due: tsc, oxlint

Apply suggestions from code review
  src/ui/spinner.rs
Due: cargo-fmt, cargo-clippy

add python
  scripts/eval-runner.py
  src/eval.rs
  tests/eval_fixtures.rs
  tests/evals/py/absolute/fixture.json
  tests/evals/py/absolute/pkg/__init__.py
  tests/evals/py/absolute/pkg/eval_absolute.py
  tests/evals/py/absolute/pkg/helpers.py
  tests/evals/py/basic/eval_basic.py
  tests/evals/py/basic/fixture.json
  tests/evals/py/local_import/eval_local_import.py
  tests/evals/py/local_import/fixture.json
  tests/evals/py/local_import/helper.py
  tests/evals/py/relative/fixture.json
  tests/evals/py/relative/pkg/__init__.py
  tests/evals/py/relative/pkg/eval_relative.py
  tests/evals/py/relative/pkg/helpers.py
Due: cargo-fmt, cargo-clippy

improve python fixtures
  .gitignore
  tests/eval_fixtures.rs
Due: cargo-fmt, cargo-clippy

add release workflow
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  Cargo.toml
  cli-plan.md
Due: none

more tests
  .github/workflows/tests.yml
  .gitignore
  .tool-versions
  eval-todo.md
  tests/eval_fixtures.rs
  tests/evals/js/eval-bun/fixture.json
  tests/evals/js/eval-bun/package.json
  tests/evals/js/eval-bun/test-data.txt
  tests/evals/js/eval-bun/tests/bun-file-api.eval.ts
  tests/evals/js/eval-bun/tests/bun-imports.eval.ts
  tests/evals/js/eval-ts-esm/fixture.json
Due: tsc, oxlint, cargo-fmt, cargo-clippy

add readme
  README.md
Due: none

fix
  .github/workflows/release-canary.yml
  Cargo.toml
Due: none

Fix canary dist plan tag generation and workspace dist metadata
  .github/workflows/release-canary.yml
Due: none

Use package semver tag for dist canary planning
  .github/workflows/release-canary.yml
Due: none

Fix canary version extraction regex
  .github/workflows/release-canary.yml
Due: none

Add repository metadata required by cargo-dist
  Cargo.toml
Due: none

Allow custom dist CI workflow without regeneration
  Cargo.toml
Due: none

Gate eval command to Unix platforms
  src/main.rs
Due: cargo-fmt, cargo-clippy

Fix canary global artifacts auth and add roadmap notes
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  README.md
Due: none

Fix canary announce gh release repo context
  .github/workflows/release-canary.yml
Due: none

add env vars
  Cargo.lock
  Cargo.toml
  src/args.rs
  src/env.rs
  src/main.rs
  tests/evals/js/env-default/.env
  tests/evals/js/env-default/.env.development
  tests/evals/js/env-default/.env.development.local
  tests/evals/js/env-default/.env.local
  tests/evals/js/env-default/env-default.eval.ts
  tests/evals/js/env-default/fixture.json
  tests/evals/js/env-default/package.json
  tests/evals/js/env-file/.custom.env
  tests/evals/js/env-file/.env
  tests/evals/js/env-file/env-file.eval.ts
  tests/evals/js/env-file/fixture.json
  tests/evals/js/env-file/package.json
Due: tsc, oxlint, cargo-fmt, cargo-clippy

Rewrite canary installer URLs to canary release tags
  .github/workflows/release-canary.yml
Due: none

Update repository URLs to braintrustdata/bt
  Cargo.toml
  README.md
Due: none

Harden canary installer tag rewriting
  .github/workflows/release-canary.yml
Due: none

Add uninstall instructions to README
  README.md
Due: none

Use pnpm dlx for oxlint pre-commit hook
  .pre-commit-config.yaml
Due: none

fix some stuff
  scripts/eval-runner.py
  src/env.rs
  src/eval.rs
Due: cargo-fmt, cargo-clippy

self update + tests
  src/main.rs
  src/self_update.rs
Due: cargo-fmt, cargo-clippy

Harden self-update docs and add release installer smoke tests
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  README.md
  cli-plan.md
  src/self_update.rs
Due: cargo-fmt, cargo-clippy

Expand release smoke tests to macOS and Windows
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  README.md
  cli-plan.md
Due: none

Gate macOS smoke jobs behind repo variable
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
Due: none

add top level await
  tests/evals/js/eval-vite-node/Makefile
  tests/evals/js/eval-vite-node/fixture.json
  tests/evals/js/eval-vite-node/package.json
  tests/evals/js/eval-vite-node/tests/basic.eval.ts
  tests/evals/js/eval-vite-node/tests/top-level-await.eval.ts
Due: tsc, oxlint

Embed eval runner scripts for packaged installs
  src/eval.rs
Due: cargo-fmt, cargo-clippy

make tests less flaky?
  .pre-commit-config.yaml
Due: none

add tsnode fallback and other comments
  scripts/eval-runner.ts
  src/eval.rs
  tests/eval_fixtures.rs
  tests/evals/js/eval-ts-node-only/fixture.json
  tests/evals/js/eval-ts-node-only/package.json
  tests/evals/js/eval-ts-node-only/tests/basic.eval.ts
Due: tsc, oxlint, cargo-fmt, cargo-clippy

Fix eval fixture runner auto-detection
  src/eval.rs
  tests/eval_fixtures.rs
Due: cargo-fmt, cargo-clippy
