Repository braintrustdata/bt: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, oxlint, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.4.1
    hooks:
      - id: prettier
        files: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx|json|md|mdx|yaml|yml)$
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm exec tsc -p tsconfig.json --noEmit
        language: system
        files: \.ts$
        pass_filenames: false
      - id: oxlint
        name: oxlint
        entry: npx --yes oxlint --max-warnings=0 --fix
        language: system
        files: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx)$
        pass_filenames: true
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt --all
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo-clippy
        entry: cargo clippy --locked --all-targets --all-features --fix --allow-dirty --allow-staged -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

chore: bump bt-daemon to latest
  Cargo.lock
  Cargo.toml
Due: none

chore: bump bt-daemon to latest (#397)
  Cargo.lock
  Cargo.toml
Due: none

fix: keep Deno fixtures within dependency age policy
  tests/evals/js/eval-cjs-monorepo/package.json
  tests/evals/js/eval-cjs-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-deno/package.json
  tests/evals/js/eval-esm-monorepo/package.json
  tests/evals/js/eval-esm-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-esm/package.json
  tests/evals/js/eval-esm/pnpm-lock.yaml
  tests/evals/js/eval-ts-local-sdk/pnpm-lock.yaml
  tests/evals/js/eval-ts-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-ts-vite-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-vite-node-cjs/pnpm-lock.yaml
  tests/evals/js/eval-vite-node-server-close-race/pnpm-lock.yaml
  tests/evals/js/eval-vite/pnpm-lock.yaml
Due: none

feat: update tracing plugins during bt upgrades
  README.md
  src/self_update.rs
  tests/self_update.rs
Due: cargo-fmt, cargo-clippy

feat: update tracing plugins during bt upgrades (#402)
  README.md
  src/self_update.rs
  tests/self_update.rs
Due: cargo-fmt, cargo-clippy

ci: parallelize independent checks steps
  .github/workflows/checks.yml
Due: none

fix: support inline code facets in observability templates
  README.md
  src/observability/push.rs
  src/observability/template.rs
Due: cargo-fmt, cargo-clippy

fix: repair duplicate topic map wiring during template push
  README.md
  src/observability/mod.rs
  src/observability/push.rs
  src/observability/template.rs
Due: cargo-fmt, cargo-clippy

feat: preserve scoped Topics settings in observability templates
  README.md
  src/observability/mod.rs
  src/observability/pull.rs
  src/observability/push.rs
  src/observability/template.rs
  src/topics/api.rs
Due: cargo-fmt, cargo-clippy

fix: preserve legacy template pulls and support facet exclusions
  README.md
  src/observability/mod.rs
  src/observability/pull.rs
  src/observability/push.rs
  src/observability/template.rs
Due: cargo-fmt, cargo-clippy

fix(evals): drop micromatch/braces from vite-node CJS fixture
  tests/evals/js/eval-vite-node-cjs/package.json
  tests/evals/js/eval-vite-node-cjs/pnpm-lock.yaml
  tests/evals/js/eval-vite-node-cjs/tests/basic.eval.ts
Due: tsc, oxlint

fix(deps): bump rustls to 0.23.45 for TLS 1.3 key-change alignment advisory
  Cargo.lock
Due: none

test: drop micromatch/braces from vite-node CJS fixture (#412)
  tests/evals/js/eval-vite-node-cjs/package.json
  tests/evals/js/eval-vite-node-cjs/pnpm-lock.yaml
  tests/evals/js/eval-vite-node-cjs/tests/basic.eval.ts
Due: tsc, oxlint

fix(deps): bump rustls to 0.23.45 for TLS 1.3 key-change advisory (#413)
  Cargo.lock
Due: none

feat: use BRAINTRUST_ prefix for all CLI env vars
  AGENTS.md
  src/custom_views.rs
  src/datasets/mod.rs
  src/datasets/pipeline.rs
  src/datasets/snapshots.rs
  src/env.rs
  src/eval.rs
  src/functions/mod.rs
  src/functions/push.rs
  src/main.rs
  src/observability/mod.rs
  src/sync.rs
  src/topics/mod.rs
  tests/cli.rs
  tests/eval_dev_server.rs
  tests/eval_fixtures.rs
  tests/functions-fixtures/pull-help-env-vars/fixture.json
  tests/functions-fixtures/push-help-env-vars/fixture.json
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

refactor: map deprecated BT_ env vars silently
  src/env.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy
