Repository braintrustdata/bt: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, oxlint, cargo-fmt, cargo-clippy

tsc:
  name: tsc
  entry: pnpm exec tsc -p tsconfig.json --noEmit
  language: system
  pass_filenames: false

oxlint:
  name: oxlint
  entry: npx --yes oxlint --max-warnings=0 --fix
  language: system
  pass_filenames: true

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  entry: cargo clippy --locked --all-targets --all-features --fix --allow-dirty --allow-staged -- -D warnings
  language: system
  pass_filenames: false

fix: functions push producing empty python_bundle.sources on Windows
  Cargo.lock
  Cargo.toml
  scripts/functions-runner.py
  scripts/python_runner_common.py
  src/functions/push.rs
Due: cargo-fmt, cargo-clippy

ci: update terminology from self-update to update
  .github/workflows/release.yml
  README.md
  src/self_update.rs
Due: cargo-fmt, cargo-clippy

clean up
  src/loop_cmd.rs
Due: cargo-fmt, cargo-clippy

simplify tools
  scripts/views-runner.ts
  src/views.rs
  tests/cli.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

fix: functions push producing empty python_bundle.sources on Windows (#259)
  Cargo.lock
  Cargo.toml
  scripts/functions-runner.py
  scripts/python_runner_common.py
  src/functions/push.rs
Due: cargo-fmt, cargo-clippy

Replace `bt self update` with `bt update` command (#257)
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  .github/workflows/smoke-install-minimal.yml
  README.md
  src/main.rs
  src/self_update.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

message
  README.md
Due: none

[no ci]
  src/auth.rs
Due: cargo-fmt, cargo-clippy

with ci
  src/auth.rs
Due: cargo-fmt, cargo-clippy

[no ci]
  README.md
Due: none

a
  README.md
Due: none

batteries
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Cargo.lock
  Cargo.toml
  build.rs
  package.json
  pnpm-lock.yaml
  scripts/views-preview.html
  scripts/views-runner.mjs
  scripts/views-runner.ts
  src/views.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

better error message
  src/views.rs
Due: cargo-fmt, cargo-clippy

plans
  bt-reporter-compliance-plan.md
  bt-reporter-test-plan.md
  eval-reporter-design.md
Due: none

refactor(eval): introduce canonical reporter core
  src/eval.rs
  src/eval/reporter.rs
Due: cargo-fmt, cargo-clippy

feat(eval): add built-in reporter selection
  src/eval.rs
  src/eval/reporter.rs
  tests/eval_golden.rs
  tests/fixtures/eval/fake_runner.py
  tests/golden/eval/console--events.stderr
  tests/golden/eval/console--events.stdout
  tests/golden/eval/console--jsonl.stderr
  tests/golden/eval/console--jsonl.stdout
  tests/golden/eval/console--silent.stderr
  tests/golden/eval/console--silent.stdout
  tests/golden/eval/console--two-stdout-reporters.stderr
  tests/golden/eval/console--two-stdout-reporters.stdout
  tests/golden/eval/console--unsupported-dot.stderr
  tests/golden/eval/console--unsupported-dot.stdout
  tests/golden/eval/interleaved--default.stderr
Due: cargo-fmt, cargo-clippy

feat(eval): adopt canonical runner event protocol
  scripts/eval-runner-impl.ts
  scripts/eval-runner.py
  src/eval.rs
  src/eval/reporter.rs
  tests/eval_golden.rs
  tests/fixtures/eval/scenarios/canonical-real.jsonl
  tests/fixtures/eval/scenarios/canonical-synthetic.jsonl
  tests/golden/eval/canonical-real--dot.stderr
  tests/golden/eval/canonical-real--dot.stdout
  tests/golden/eval/canonical-real--events.stderr
  tests/golden/eval/canonical-real--events.stdout
  tests/golden/eval/canonical-real--github-actions.stderr
  tests/golden/eval/canonical-real--github-actions.stdout
  tests/golden/eval/canonical-real--verbose.stderr
  tests/golden/eval/canonical-real--verbose.stdout
  tests/golden/eval/canonical-synthetic--dot.stderr
  tests/golden/eval/canonical-synthetic--dot.stdout
  tests/golden/eval/console--events.stdout
Due: tsc, oxlint, cargo-fmt, cargo-clippy

refactor(eval): route devserver through reporters
  scripts/eval-runner.py
  src/eval.rs
  src/eval/reporter.rs
  tests/eval_dev_server.rs
  tests/fixtures/eval/scenarios/devserver.jsonl
  tests/golden/eval/devserver--response-canonical.json
  tests/golden/eval/devserver--stream-canonical.sse
Due: cargo-fmt, cargo-clippy

chore(eval): satisfy reporter formatting checks
  .prettierignore
  scripts/eval-runner-impl.ts
  src/eval.rs
  src/eval/reporter.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

test(eval): exercise github actions reporter
  .github/workflows/github-actions-reporter-example.yml
  examples/eval-reporters/README.md
  examples/eval-reporters/github-actions.eval.ts
  examples/eval-reporters/package.json
  examples/eval-reporters/pnpm-lock.yaml
  scripts/eval-runner-impl.ts
Due: tsc, oxlint

test(eval): avoid duplicate workflow annotation
  .github/workflows/github-actions-reporter-example.yml
Due: none

feat(eval): add source locations to github annotations
  .github/workflows/github-actions-reporter-example.yml
  examples/eval-reporters/github-actions.eval.ts
  examples/eval-reporters/pnpm-lock.yaml
  scripts/eval-runner-impl.ts
  src/eval.rs
  src/eval/reporter.rs
  tests/fixtures/eval/scenarios/canonical-real.jsonl
  tests/golden/eval/canonical-real--events.stdout
  tests/golden/eval/canonical-real--github-actions.stderr
Due: tsc, oxlint, cargo-fmt, cargo-clippy

Support parsing experiment links properly in `bt view` (#248)
  src/experiments/api.rs
  src/traces.rs
Due: cargo-fmt, cargo-clippy

draft
  src/main.rs
  src/sql.rs
  src/traces/waterfall.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy

draft
  src/cost/experiments.rs
  src/cost/mod.rs
  src/utils/format.rs
Due: cargo-fmt, cargo-clippy

draft
  src/auth.rs
  src/status.rs
  src/switch.rs
  src/traces.rs
  src/ui/ratatui_table.rs
Due: cargo-fmt, cargo-clippy

draft use mise to install bt
  README.md
Due: none

only use swc
  Cargo.lock
  Cargo.toml
  src/views.rs
Due: cargo-fmt, cargo-clippy

newline
  src/functions/push.rs
Due: cargo-fmt, cargo-clippy

more verbose logging, show more metadata on push
  src/functions/api.rs
  src/functions/push.rs
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

chore: fix cargo clippy warning
  src/topics/mod.rs
Due: cargo-fmt, cargo-clippy

chore: show push cancelled message with Ctrl-C
  src/functions/push.rs
Due: cargo-fmt, cargo-clippy

some ux improvements to push (#213)
  src/functions/api.rs
  src/functions/push.rs
  src/topics/mod.rs
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

chore: separate global and command-specific option in help message
  src/args.rs
Due: cargo-fmt, cargo-clippy

Revert "add: flag to keep previous profile after bt auth login"
  README.md
  src/auth.rs
Due: cargo-fmt, cargo-clippy

chore: switch profile/org after bt auth login (#233)
  README.md
  src/auth.rs
  src/switch.rs
Due: cargo-fmt, cargo-clippy

fix push semantics
  README.md
  src/datasets/pipeline.rs
  src/sync.rs
Due: cargo-fmt, cargo-clippy

bump
  src/sync.rs
Due: cargo-fmt, cargo-clippy

fix(auth): prioritize stored `org_name` over config `org` value
  src/auth.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  tsc: any of: \.ts$
  oxlint: any of: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx)$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
