Repository braintrustdata/bt: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, oxlint, cargo-fmt, cargo-clippy

tsc:
  name: tsc
  entry: pnpm exec tsc -p tsconfig.json --noEmit
  language: system
  pass_filenames: false

oxlint:
  name: oxlint
  entry: npx --yes oxlint --max-warnings=0 --fix
  language: system
  pass_filenames: true

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  entry: cargo clippy --locked --all-targets --all-features --fix --allow-dirty --allow-staged -- -D warnings
  language: system
  pass_filenames: false

add --sandbox flag
  scripts/eval-runner.py
  scripts/eval-runner.ts
  src/eval.rs
  src/experiments/api.rs
  src/functions/mod.rs
  src/functions/push.rs
  src/sync.rs
  tests/functions.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

Add tests
  src/eval.rs
  src/functions/push.rs
  tests/eval_fixtures.rs
Due: cargo-fmt, cargo-clippy

fix(functions-runner): add proper Zod v4 schema serialization support
  scripts/functions-runner.ts
  tests/functions.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

feat(functions): add id and version fields to prompt creation for python
  src/functions/mod.rs
  src/functions/pull.rs
Due: cargo-fmt, cargo-clippy

use unix socket for communication and split data generation to its own runner
  scripts/data-runner.py
  scripts/data-runner.ts
  scripts/eval-runner.py
  scripts/eval-runner.ts
  scripts/runner-common.ts
  scripts/runner_common.py
  src/eval.rs
  tests/eval_fixtures.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

extract submodules from eval.rs
  src/eval.rs
  src/eval/dev_server.rs
  src/eval/events.rs
  src/eval/ui.rs
Due: cargo-fmt, cargo-clippy

ci: add pnpm install step before running tests
  .github/workflows/tests.yml
Due: none

lint
  src/eval.rs
Due: cargo-fmt, cargo-clippy

refactor: simplify runtime extension classification
  src/functions/push.rs
  src/source_language.rs
  src/utils/git.rs
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

fix(functions-runner): allow functions to have empty parameters
  scripts/functions-runner.ts
Due: tsc, oxlint

Add `push` and `pull` functions commands (#70)
  .github/workflows/tests.yml
  Cargo.lock
  Cargo.toml
  scripts/functions-bundler.ts
  scripts/functions-runner.py
  scripts/functions-runner.ts
  scripts/python_runner_common.py
  scripts/runner-common.ts
  src/auth.rs
  src/eval.rs
  src/functions/api.rs
  src/functions/mod.rs
  src/functions/pull.rs
  src/functions/push.rs
  src/functions/report.rs
  src/http.rs
  src/js_runner.rs
  src/main.rs
  src/python_runner.rs
  src/source_language.rs
  src/utils/fs_atomic.rs
  src/utils/git.rs
  src/utils/mod.rs
  tests/functions-fixtures/pull-help-env-vars/fixture.json
  tests/functions-fixtures/pull-help-flags/fixture.json
  tests/functions-fixtures/pull-id-slug-conflict/fixture.json
  tests/functions-fixtures/pull-invalid-language/fixture.json
  tests/functions-fixtures/pull-valid-language-python-parses/fixture.json
  tests/functions-fixtures/pull-valid-language-typescript-parses/fixture.json
  tests/functions-fixtures/push-help-env-vars/fixture.json
  tests/functions-fixtures/push-help-flags/fixture.json
  tests/functions-fixtures/push-invalid-language/fixture.json
  tests/functions-fixtures/push-multiple-files-accepted/fixture.json
  tests/functions-fixtures/push-reject-external-packages/fixture.json
  tests/functions-fixtures/push-reject-tsconfig/fixture.json
  tests/functions-fixtures/push-reject-type/fixture.json
  tests/functions-fixtures/push-valid-language-auto-parses/fixture.json
  tests/functions-fixtures/push-valid-language-javascript-parses/fixture.json
  tests/functions-fixtures/push-valid-language-python-parses/fixture.json
  tests/functions.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

fix(push): use pretty-print formatting for error messages
  src/functions/push.rs
Due: cargo-fmt, cargo-clippy

Use pretty-print formatting for error messages (#77)
  src/functions/push.rs
Due: cargo-fmt, cargo-clippy

feat: add baseline dependency version pinning and python platform overrides
  scripts/functions-runner.py
  src/functions/push.rs
Due: cargo-fmt, cargo-clippy

Remove unnecessary borrow in setup docs prefetch
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

Propagate CA bundle to Unix self-update curl installer
  src/self_update.rs
Due: cargo-fmt, cargo-clippy

chore: Pin github actions to commit
  .github/workflows/pre-commit.yml
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  .github/workflows/tag-on-version-bump.yml
  .github/workflows/tests.yml
Due: none

chore: Pin github actions to commit
  .github/workflows/pre-commit.yml
  .github/workflows/tests.yml
Due: none

chore: Pin github actions to commit (#79)
  .github/workflows/pre-commit.yml
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  .github/workflows/tag-on-version-bump.yml
  .github/workflows/tests.yml
Due: none

Add custom CA bundle support across bt HTTP flows (#73)
  Cargo.lock
  Cargo.toml
  src/args.rs
  src/auth.rs
  src/eval.rs
  src/functions/mod.rs
  src/functions/push.rs
  src/http.rs
  src/main.rs
  src/projects/mod.rs
  src/self_update.rs
  src/setup/docs.rs
  src/setup/mod.rs
  src/switch.rs
  src/sync.rs
  src/traces.rs
Due: cargo-fmt, cargo-clippy

Add baseline dependency version resolution and platform-specific bundling (#78)
  scripts/functions-runner.py
  src/functions/push.rs
Due: cargo-fmt, cargo-clippy

Update braintrust-sdk-rust to unix-gated eval fix
  Cargo.lock
  Cargo.toml
Due: none

Revert "Add custom CA bundle support across bt HTTP flows (#73)"
  Cargo.lock
  Cargo.toml
  src/args.rs
  src/auth.rs
  src/eval.rs
  src/functions/mod.rs
  src/functions/push.rs
  src/http.rs
  src/main.rs
  src/projects/mod.rs
  src/self_update.rs
  src/setup/docs.rs
  src/setup/mod.rs
  src/switch.rs
  src/sync.rs
  src/traces.rs
Due: cargo-fmt, cargo-clippy

use pre-commit without a pin
  .github/workflows/pre-commit.yml
Due: none

Revert "Add custom CA bundle support across bt HTTP flows (#73)" (#81)
  .github/workflows/pre-commit.yml
  Cargo.lock
  Cargo.toml
  src/args.rs
  src/auth.rs
  src/eval.rs
  src/functions/mod.rs
  src/functions/push.rs
  src/http.rs
  src/main.rs
  src/projects/mod.rs
  src/self_update.rs
  src/setup/docs.rs
  src/setup/mod.rs
  src/switch.rs
  src/sync.rs
  src/traces.rs
Due: cargo-fmt, cargo-clippy

WIP
  README.md
  plan.md
  research.md
  src/eval.rs
Due: cargo-fmt, cargo-clippy

feat: add cross-platform SSE listener support
  src/eval.rs
Due: cargo-fmt, cargo-clippy

test to trigger the ci
  README.md
Due: none

Revert "test to trigger the ci"
  README.md
Due: none

feat: add mcp prompts to bt cli
  skills/sdk-install/csharp.md
  skills/sdk-install/go.md
  skills/sdk-install/instrument-task.md
  skills/sdk-install/java.md
  skills/sdk-install/python.md
  skills/sdk-install/ruby.md
  skills/sdk-install/typescript.md
  src/setup/mod.rs
  src/setup/sdk_install_docs.rs
Due: cargo-fmt, cargo-clippy

feat: add --language flag to bt setup instrument
  skills/sdk-install/instrument-task.md
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

feat: bt setup install evals, either in the background or in the TUI chosen
  skills/sdk-install/braintrust-url-formats.md
  skills/sdk-install/csharp.md
  skills/sdk-install/instrument-task.md
  src/setup/mod.rs
  src/setup/sdk_install_docs.rs
Due: cargo-fmt, cargo-clippy

chore: select evals by default
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

fix: -p/--project flag didn't work
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

feat: skill, mcp and local/global flags cna be used instead of answering the wizard
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

feat: no-mcp-skill, instrument flags ; pre select the language to instrument when possible
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

chore: quiet flag didn't hide the new flags' output
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

chore: formatting
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

fix: workflow flag ending the wizard prematurely fixed cargo-clippy warning
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

chore: show hint about spacebar/enter use for the wizard at the correct place
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  tsc: any of: \.ts$
  oxlint: any of: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx)$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
