Repository braintrustdata/bt: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, oxlint, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.4.1
    hooks:
      - id: prettier
        files: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx|json|md|mdx|yaml|yml)$
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm exec tsc -p tsconfig.json --noEmit
        language: system
        files: \.ts$
        pass_filenames: false
      - id: oxlint
        name: oxlint
        entry: npx --yes oxlint --max-warnings=0 --fix
        language: system
        files: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx)$
        pass_filenames: true
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt --all
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo-clippy
        entry: cargo clippy --locked --all-targets --all-features --fix --allow-dirty --allow-staged -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

test: tighten observability coverage
  src/observability/mod.rs
  src/observability/pull.rs
  src/observability/push.rs
  src/observability/template.rs
Due: cargo-fmt, cargo-clippy

chore(status): bt status prints which secret storage is used
  README.md
  src/auth.rs
  src/status.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

feat: Add `--max-concurrency` flag to `bt eval` (#332)
  README.md
  scripts/eval-runner-impl.ts
  scripts/eval-runner.py
  src/eval.rs
  tests/eval_fixtures.rs
  tests/evals/js/eval-max-concurrency/max-concurrency-sampling.eval.mjs
  tests/evals/js/eval-max-concurrency/max-concurrency.eval.mjs
  tests/evals/js/eval-max-concurrency/package.json
  tests/evals/py/max_concurrency/eval_max_concurrency.py
Due: tsc, oxlint, cargo-fmt, cargo-clippy

fix profile logic
  src/args.rs
  src/experiments/mod.rs
  src/traces.rs
Due: cargo-fmt, cargo-clippy

chore(credential): support Windows Credential Manager to store OAuth tokens and API keys
  .github/workflows/tests.yml
  Cargo.lock
  Cargo.toml
  README.md
  src/auth.rs
Due: cargo-fmt, cargo-clippy

feat(prompt): --environment flag (#330)
  README.md
  src/functions/api.rs
  src/functions/delete.rs
  src/functions/mod.rs
  src/functions/view.rs
  src/http.rs
  src/prompts/api.rs
  src/prompts/assign.rs
  src/prompts/delete.rs
  src/prompts/list.rs
  src/prompts/mod.rs
  src/prompts/versions.rs
  src/prompts/view.rs
  src/util_cmd.rs
  src/utils/app_url.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy

slop draft
  src/trace_host.rs
Due: cargo-fmt, cargo-clippy

update readme
  README.md
Due: none

fix check
  src/observability/mod.rs
  src/observability/push.rs
  src/observability/template.rs
Due: cargo-fmt, cargo-clippy

more cleanup
  src/observability/mod.rs
  src/observability/push.rs
  src/observability/template.rs
Due: cargo-fmt, cargo-clippy

Fix profile + org logic while resolving traces (#343)
  src/args.rs
  src/experiments/mod.rs
  src/traces.rs
Due: cargo-fmt, cargo-clippy

feat(sql): add project-aware logs shorthand
  src/sql.rs
Due: cargo-fmt, cargo-clippy

docs: remove stale README guidance
  README.md
Due: none

deps: Update deps
  tests/evals/js/eval-cjs-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-esm-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-esm/pnpm-lock.yaml
  tests/evals/js/eval-ts-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-ts-vite-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-vite-node-cjs/pnpm-lock.yaml
  tests/evals/js/eval-vite-node-server-close-race/pnpm-lock.yaml
  tests/evals/js/eval-vite/pnpm-lock.yaml
Due: none

docs: distinguish SDK setup from agent tracing
  README.md
Due: none

docs: separate setup and tracing sections
  README.md
Due: none

deps: Update deps (#349)
  tests/evals/js/eval-cjs-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-esm-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-esm/pnpm-lock.yaml
  tests/evals/js/eval-ts-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-ts-vite-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-vite-node-cjs/pnpm-lock.yaml
  tests/evals/js/eval-vite-node-server-close-race/pnpm-lock.yaml
  tests/evals/js/eval-vite/pnpm-lock.yaml
Due: none

fix: keep JSON output separate from confirmation
  src/observability/mod.rs
Due: cargo-fmt, cargo-clippy

feat: mark observability templates as preview
  src/observability/pull.rs
Due: cargo-fmt, cargo-clippy

docs: remove stale README guidance (#347)
  README.md
Due: none

observability templates (#321)
  src/functions/api.rs
  src/functions/mod.rs
  src/main.rs
  src/observability/mod.rs
  src/observability/pull.rs
  src/observability/push.rs
  src/observability/template.rs
  src/topics/api.rs
Due: cargo-fmt, cargo-clippy

wip
  Cargo.lock
  Cargo.toml
  src/acp.rs
  src/main.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

feat(sql): add project-aware logs shorthand (#348)
  src/sql.rs
Due: cargo-fmt, cargo-clippy

feat: add stable IDs to auth profiles
  Cargo.lock
  Cargo.toml
  src/auth.rs
  src/trace_host.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

fix: resolve trace profiles by stable ID
  Cargo.lock
  Cargo.toml
  src/auth.rs
  src/trace_host.rs
Due: cargo-fmt, cargo-clippy

Add stable IDs to auth profiles (#351)
  Cargo.lock
  Cargo.toml
  src/auth.rs
  src/trace_host.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

Improve saved login status output (SDK-270 SDK-275)
  src/auth.rs
  src/status.rs
Due: cargo-fmt, cargo-clippy

Confirm environment API key persistence (SDK-274)
  src/auth.rs
Due: cargo-fmt, cargo-clippy

Reject environment-only tracing routes (SDK-272)
  src/trace_host.rs
Due: cargo-fmt, cargo-clippy

Clarify logout semantics and add remove-all (SDK-276)
  src/auth.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

Limit credential precedence to active overrides (SDK-270)
  src/auth.rs
  src/status.rs
Due: cargo-fmt, cargo-clippy

Add effective tracing diagnostics (SDK-273)
  src/auth.rs
  src/trace_host.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

Preserve invocation environment auth for tracing (SDK-272)
  src/trace_host.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

Complete tracing setup from available credentials
  src/auth.rs
  src/trace_host.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

Keep profile references consistent during mutations
  src/auth.rs
  src/profiles/mod.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

Address tracing auth review feedback
  src/auth.rs
  src/trace_host.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

Address remaining SDK-288 auth issues
  src/auth.rs
  src/profiles/mod.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

Advance daemon pin to integrated plugin main
  Cargo.lock
  Cargo.toml
  src/auth.rs
  src/trace_host.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

Fix SDK-288 tracing auth and diagnostics (#334)
  Cargo.lock
  Cargo.toml
  src/auth.rs
  src/profiles/mod.rs
  src/status.rs
  src/trace_host.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

chore: bump bt-daemon plugin pin
  Cargo.lock
  Cargo.toml
Due: none
