Repository braintrustdata/bt: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, oxlint, cargo-fmt, cargo-clippy

tsc:
  name: tsc
  entry: pnpm exec tsc -p tsconfig.json --noEmit
  language: system
  pass_filenames: false

oxlint:
  name: oxlint
  entry: npx --yes oxlint --max-warnings=0 --fix
  language: system
  pass_filenames: true

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  entry: cargo clippy --locked --all-targets --all-features --fix --allow-dirty --allow-staged -- -D warnings
  language: system
  pass_filenames: false

chore: test now fail if fake browser helper doesn't trigger
  tests/setup_e2e.rs
Due: cargo-fmt, cargo-clippy

chore: clean up PtyProcess resources in case of panic
  tests/setup_e2e.rs
Due: cargo-fmt, cargo-clippy

chore: e2e test for bt setup without any arguments
  Cargo.lock
  Cargo.toml
  tests/setup_e2e.rs
Due: cargo-fmt, cargo-clippy

chore: update cargo.lock
  Cargo.lock
Due: none

WIP
  README.md
  plan.md
  src/agent/guide.txt
  src/agent/mod.rs
  src/main.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

add --sandbox flag
  scripts/eval-runner.py
  scripts/eval-runner.ts
  src/eval.rs
  src/experiments/api.rs
  src/functions/mod.rs
  src/functions/push.rs
  src/sync.rs
  tests/functions.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

Add tests
  src/eval.rs
  src/functions/push.rs
  tests/eval_fixtures.rs
Due: cargo-fmt, cargo-clippy

use unix socket for communication and split data generation to its own runner
  scripts/data-runner.py
  scripts/data-runner.ts
  scripts/eval-runner.py
  scripts/eval-runner.ts
  scripts/runner-common.ts
  scripts/runner_common.py
  src/eval.rs
  tests/eval_fixtures.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

fix build
  src/eval.rs
  src/functions/push.rs
Due: cargo-fmt, cargo-clippy

init snapshot work
  src/datasets/api.rs
  src/datasets/mod.rs
  src/datasets/snapshots.rs
  src/status.rs
  src/utils/mod.rs
  src/utils/profile.rs
  tests/datasets.rs
Due: cargo-fmt, cargo-clippy

bt functions push parameters.py
  scripts/functions-runner.py
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

chore: deduplication helper time parsing function
  src/sync.rs
  src/traces.rs
  src/utils/duration.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy

fix: clean up temp file on failed config save
  src/config/mod.rs
Due: cargo-fmt, cargo-clippy

fix: unicode issues with bt sync pull
  src/sync.rs
  src/traces.rs
Due: cargo-fmt, cargo-clippy

fix build error
  src/sync.rs
  src/traces.rs
Due: cargo-fmt, cargo-clippy

fix clippy
  src/utils/mod.rs
  tests/datasets.rs
Due: cargo-fmt, cargo-clippy

use org_id on POST /v1/api_key
  src/http.rs
  src/setup/mod.rs
  src/sync.rs
  src/traces.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy

simplfy test
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

use org_id on POST /v1/api_key (#177)
  src/http.rs
  src/setup/mod.rs
  src/sync.rs
  src/traces.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy

feat: suggest --json in bt view trace text output
  src/traces.rs
Due: cargo-fmt, cargo-clippy

chore: dedupe parse_duration_to_seconds across sync and traces
  src/sync.rs
  src/traces.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy

fix: consolidate --json and per-span hints into one line
  src/traces.rs
Due: cargo-fmt, cargo-clippy

bump
  src/auth.rs
Due: cargo-fmt, cargo-clippy

chore: dedupe parse_duration_to_seconds across sync and traces (#181)
  src/sync.rs
  src/traces.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy

bump version
  Cargo.toml
Due: none

bump
  Cargo.lock
Due: none

Bump CLI version (#183)
  Cargo.lock
  Cargo.toml
Due: none

add warning/alert when there are provider keys older than 6 months (#182)
  src/auth.rs
Due: cargo-fmt, cargo-clippy

support pagination keys
  README.md
  src/util_cmd.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

feat: suggest --json in bt view trace text output (#179)
  src/traces.rs
Due: cargo-fmt, cargo-clippy

Support pagination keys in the xact utils (#184)
  README.md
  src/util_cmd.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

add pagination key mode
  README.md
  src/util_cmd.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

bump
  src/util_cmd.rs
Due: cargo-fmt, cargo-clippy

fix: handle RemoteEvalParameters in eval dev /list endpoint
  scripts/eval-runner.py
Due: none

Pagination key (quick follow ups) (#185)
  README.md
  src/util_cmd.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

chore: bump rustls-webpki to 0.103.13
  Cargo.lock
Due: none

Path conditions:
  tsc: any of: \.ts$
  oxlint: any of: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx)$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
