Repository braintrustdata/bt: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, oxlint, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.4.1
    hooks:
      - id: prettier
        files: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx|json|md|mdx|yaml|yml)$
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm exec tsc -p tsconfig.json --noEmit
        language: system
        files: \.ts$
        pass_filenames: false
      - id: oxlint
        name: oxlint
        entry: npx --yes oxlint --max-warnings=0 --fix
        language: system
        files: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx)$
        pass_filenames: true
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt --all
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo-clippy
        entry: cargo clippy --locked --all-targets --all-features --fix --allow-dirty --allow-staged -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

test(js): add TypeScript eval test for ESM-only dependency
  tests/evals/js/eval-ts-esm-only-dep/esm-only-pkg/index.js
  tests/evals/js/eval-ts-esm-only-dep/esm-only-pkg/package.json
  tests/evals/js/eval-ts-esm-only-dep/fixture.json
  tests/evals/js/eval-ts-esm-only-dep/package.json
  tests/evals/js/eval-ts-esm-only-dep/tests/basic.eval.ts
  tests/evals/js/eval-ts-esm-only-dep/tsconfig.json
Due: tsc, oxlint

feat(eval): add automatic ESM retry for CJS/ESM interop errors
  scripts/eval-runner.ts
  src/eval.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

fix(eval): skip ESM retry when runner override is set
  src/eval.rs
  tests/eval_fixtures.rs
  tests/evals/js/eval-ts-esm-only-dep/fixture.json
Due: cargo-fmt, cargo-clippy

refactor(eval): make forward_stream accept optional sender for stderr suppression
  src/eval.rs
Due: cargo-fmt, cargo-clippy

fix(eval): tighten stderr suppression to only TS eval files
  src/eval.rs
Due: cargo-fmt, cargo-clippy

fix(eval): show first attempt error when ESM retry also fails
  src/eval.rs
Due: cargo-fmt, cargo-clippy

Limit stderr capture to ESM retry
  src/eval.rs
Due: cargo-fmt, cargo-clippy

refactor(eval): streamline ESM retry flow
  scripts/eval-runner.ts
  src/eval.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

Add env var parity for bt eval flags (#49)
  src/eval.rs
Due: cargo-fmt, cargo-clippy

Fix more sync stuff (#50)
  AGENTS.md
  src/http.rs
  src/setup/agent_stream.rs
  src/setup/docs.rs
  src/setup/mod.rs
  src/sync.rs
Due: cargo-fmt, cargo-clippy

add utils
  Cargo.lock
  Cargo.toml
  README.md
  src/main.rs
  src/util_cmd.rs
Due: cargo-fmt, cargo-clippy

fix(eval-runner): strip eval file paths from argv before loading
  scripts/eval-runner.ts
Due: tsc, oxlint

self-update: support branch-specific canary channels
  README.md
  src/self_update.rs
Due: cargo-fmt, cargo-clippy

More esm and monorepo tests (#40)
  tests/evals/js/eval-cjs-monorepo/fixture.json
  tests/evals/js/eval-cjs-monorepo/package.json
  tests/evals/js/eval-cjs-monorepo/packages/lib/package.json
  tests/evals/js/eval-cjs-monorepo/packages/lib/src/helper.cjs
  tests/evals/js/eval-cjs-monorepo/packages/lib/src/index.cjs
  tests/evals/js/eval-cjs-monorepo/packages/lib/src/utils.cjs
  tests/evals/js/eval-cjs-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-cjs-monorepo/pnpm-workspace.yaml
  tests/evals/js/eval-cjs-monorepo/tests/basic.eval.cjs
  tests/evals/js/eval-esm-monorepo/fixture.json
  tests/evals/js/eval-esm-monorepo/package.json
  tests/evals/js/eval-esm-monorepo/packages/lib/package.json
  tests/evals/js/eval-esm-monorepo/packages/lib/src/helper.mjs
  tests/evals/js/eval-esm-monorepo/packages/lib/src/index.mjs
  tests/evals/js/eval-esm-monorepo/packages/lib/src/utils.mjs
  tests/evals/js/eval-esm-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-esm-monorepo/pnpm-workspace.yaml
  tests/evals/js/eval-esm-monorepo/tests/basic.eval.mjs
  tests/evals/js/eval-esm/fixture.json
  tests/evals/js/eval-esm/pnpm-lock.yaml
Due: oxlint

add a ts monorepo without extensions repro
  tests/evals/js/eval-ts-monorepo/fixture.json
  tests/evals/js/eval-ts-monorepo/package.json
  tests/evals/js/eval-ts-monorepo/packages/lib/package.json
  tests/evals/js/eval-ts-monorepo/packages/lib/src/helper.ts
  tests/evals/js/eval-ts-monorepo/packages/lib/src/index.ts
  tests/evals/js/eval-ts-monorepo/packages/lib/src/utils.ts
  tests/evals/js/eval-ts-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-ts-monorepo/pnpm-workspace.yaml
  tests/evals/js/eval-ts-monorepo/tests/basic.eval.ts
Due: tsc, oxlint

phase1: harden shared project resolver and config healing
  src/experiments/mod.rs
  src/functions/mod.rs
  src/projects/mod.rs
  src/projects/resolve.rs
  src/prompts/mod.rs
  src/sync.rs
Due: cargo-fmt, cargo-clippy

phase4: add high-signal regression tests for resolver and policy
  src/functions/api.rs
  src/projects/mod.rs
  src/projects/resolve.rs
  src/sync.rs
Due: cargo-fmt, cargo-clippy

phase3: apply low-risk perf wins for http and function list
  Cargo.lock
  Cargo.toml
  src/functions/api.rs
  src/functions/list.rs
  src/functions/mod.rs
  src/functions/view.rs
Due: cargo-fmt, cargo-clippy

phase2: enforce validated login for mutating flows
  src/auth.rs
  src/init.rs
  src/projects/mod.rs
  src/switch.rs
  src/sync.rs
Due: cargo-fmt, cargo-clippy

phase5: restore benchmark workflow script
  scripts/benchmark.sh
Due: none

add a vite monorepo
  tests/evals/js/eval-ts-vite-monorepo/fixture.json
  tests/evals/js/eval-ts-vite-monorepo/package.json
  tests/evals/js/eval-ts-vite-monorepo/packages/lib/package.json
  tests/evals/js/eval-ts-vite-monorepo/packages/lib/src/helper.ts
  tests/evals/js/eval-ts-vite-monorepo/packages/lib/src/index.ts
  tests/evals/js/eval-ts-vite-monorepo/packages/lib/src/utils.ts
  tests/evals/js/eval-ts-vite-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-ts-vite-monorepo/pnpm-workspace.yaml
  tests/evals/js/eval-ts-vite-monorepo/tests/basic.eval.ts
  tests/evals/js/eval-ts-vite-monorepo/tsconfig.json
Due: tsc, oxlint

fix windows
  src/self_update.rs
Due: cargo-fmt, cargo-clippy

Fix windows (#55)
  src/self_update.rs
Due: cargo-fmt, cargo-clippy

refactor(config): replace load/save pattern with atomic file locking
  src/config/set.rs
  src/projects/resolve.rs
  src/switch.rs
Due: cargo-fmt, cargo-clippy

refactor(switch): store project object instead of name only
  src/switch.rs
Due: cargo-fmt, cargo-clippy

refactor(ui): increase spinner delay threshold to 500ms
  src/ui/spinner.rs
Due: cargo-fmt, cargo-clippy

feat(config): add file locking for concurrent config updates
  src/config/mod.rs
  src/projects/resolve.rs
  tests/eval_fixtures.rs
Due: cargo-fmt, cargo-clippy

fix profile switching
  src/traces.rs
Due: cargo-fmt, cargo-clippy

refactor(auth): add fast login for read-only operations
  src/auth.rs
  src/experiments/mod.rs
  src/functions/mod.rs
  src/projects/context.rs
  src/projects/mod.rs
  src/prompts/mod.rs
  src/switch.rs
  src/sync.rs
  src/ui/spinner.rs
Due: cargo-fmt, cargo-clippy

fix(auth): fallback to validated login when fast login lacks org context
  src/auth.rs
Due: cargo-fmt, cargo-clippy

Fix profile argument for trace viewer (#57)
  src/traces.rs
Due: cargo-fmt, cargo-clippy

file not found
  src/eval.rs
Due: cargo-fmt, cargo-clippy

Fix bt eval for ESM-only dependencies (#34)
  scripts/eval-runner.ts
  src/eval.rs
  tests/eval_fixtures.rs
  tests/evals/js/eval-ts-esm-only-dep/esm-only-pkg/index.js
  tests/evals/js/eval-ts-esm-only-dep/esm-only-pkg/package.json
  tests/evals/js/eval-ts-esm-only-dep/fixture.json
  tests/evals/js/eval-ts-esm-only-dep/package.json
  tests/evals/js/eval-ts-esm-only-dep/tests/basic.eval.ts
  tests/evals/js/eval-ts-esm-only-dep/tsconfig.json
Due: tsc, oxlint, cargo-fmt, cargo-clippy

fix experiment sync
  src/experiments/api.rs
  src/experiments/mod.rs
  src/sync.rs
Due: cargo-fmt, cargo-clippy

Fix experiment sync (#60)
  src/experiments/api.rs
  src/experiments/mod.rs
  src/sync.rs
Due: cargo-fmt, cargo-clippy

Eval file not found (#59)
  src/eval.rs
Due: cargo-fmt, cargo-clippy

some eval fixes
  scripts/eval-runner.py
  scripts/eval-runner.ts
  src/eval.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

Some eval fixes (#61)
  scripts/eval-runner.py
  scripts/eval-runner.ts
  src/eval.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

fix filters
  src/sync.rs
Due: cargo-fmt, cargo-clippy
