Repository braintrustdata/bt: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, oxlint, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.4.1
    hooks:
      - id: prettier
        files: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx|json|md|mdx|yaml|yml)$
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm exec tsc -p tsconfig.json --noEmit
        language: system
        files: \.ts$
        pass_filenames: false
      - id: oxlint
        name: oxlint
        entry: npx --yes oxlint --max-warnings=0 --fix
        language: system
        files: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx)$
        pass_filenames: true
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt --all
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo-clippy
        entry: cargo clippy --locked --all-targets --all-features --fix --allow-dirty --allow-staged -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

Fix parallel python (#236)
  scripts/eval-runner.py
  tests/eval_fixtures.rs
  tests/evals/py/sync_task_parallelization/eval_sync_task_parallelization.py
Due: cargo-fmt, cargo-clippy

fix precedence for all commands
  src/auth.rs
  src/status.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

chore: remove signing step for canary bt.exe releases
  .github/workflows/release-canary.yml
Due: none

chore: update doc and comments following bt.exe successful azure artifact signing
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
Due: none

chore: update checkout action to 7.0.0
  .github/workflows/pre-commit.yml
  .github/workflows/release-bump-pr.yml
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  .github/workflows/test-signing-self-signed.yml
  .github/workflows/tests.yml
Due: none

wip: thread view
  src/traces.rs
Due: cargo-fmt, cargo-clippy

refactor url builder
  src/datasets/view.rs
  src/experiments/view.rs
  src/functions/view.rs
  src/projects/view.rs
  src/prompts/view.rs
  src/setup/mod.rs
  src/sync.rs
  src/topics/api.rs
  src/traces.rs
  src/utils/app_url.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy

add waterfall view
  src/traces.rs
Due: cargo-fmt, cargo-clippy

refactor a bit
  src/traces.rs
  src/traces/waterfall.rs
  src/utils/app_url.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy

add experiment comparison
  src/eval.rs
  src/experiments/api.rs
  src/experiments/compare.rs
  src/experiments/mod.rs
  src/ui/mod.rs
  src/ui/ratatui_table.rs
Due: cargo-fmt, cargo-clippy

bump
  src/traces/waterfall.rs
Due: cargo-fmt, cargo-clippy

Fix profile precedence for orgs (#238)
  src/auth.rs
  src/status.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

chore: update checkout action to 7.0.0 (#242)
  .github/workflows/pre-commit.yml
  .github/workflows/release-bump-pr.yml
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  .github/workflows/test-signing-self-signed.yml
  .github/workflows/tests.yml
Due: none

chore: remove signing step for canary bt.exe releases (#240)
  .github/workflows/release-canary.yml
Due: none

Add some commands that are helpful references to the UI (#243)
  src/datasets/view.rs
  src/eval.rs
  src/experiments/api.rs
  src/experiments/compare.rs
  src/experiments/mod.rs
  src/experiments/view.rs
  src/functions/view.rs
  src/projects/view.rs
  src/prompts/view.rs
  src/setup/mod.rs
  src/sync.rs
  src/topics/api.rs
  src/traces.rs
  src/traces/waterfall.rs
  src/ui/mod.rs
  src/ui/ratatui_table.rs
  src/utils/app_url.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy

Add mixed Python/JS eval tests
  tests/evals/mixed/mixed-py-js/basic.eval.ts
  tests/evals/mixed/mixed-py-js/eval_basic.py
  tests/evals/mixed/mixed-py-js/fixture.json
  tests/evals/mixed/mixed-py-js/package.json
Due: tsc, oxlint

Infer language and runner from file extensions
  README.md
  src/eval.rs
  tests/eval_fixtures.rs
  tests/evals/js/eval-bun/fixture.json
  tests/evals/js/eval-cjs-monorepo/fixture.json
  tests/evals/js/eval-deno/fixture.json
  tests/evals/js/eval-esm-monorepo/fixture.json
  tests/evals/js/eval-esm/fixture.json
  tests/evals/js/eval-extra-args/fixture.json
  tests/evals/js/eval-glob/fixture.json
  tests/evals/js/eval-ts-esm-only-dep/fixture.json
  tests/evals/js/eval-ts-esm/fixture.json
  tests/evals/js/eval-ts-local-sdk/fixture.json
  tests/evals/js/eval-ts-monorepo/fixture.json
  tests/evals/js/eval-ts-vite-monorepo/fixture.json
  tests/evals/js/eval-vite-node-cjs/fixture.json
  tests/evals/js/eval-vite-node/fixture.json
  tests/evals/js/eval-vite/fixture.json
  tests/evals/py/absolute/fixture.json
  tests/evals/py/atexit_flush/fixture.json
  tests/evals/py/basic/fixture.json
  tests/evals/py/local_import/fixture.json
  tests/evals/py/relative/fixture.json
  tests/evals/py/streaming/fixture.json
Due: cargo-fmt, cargo-clippy

sending up local
  src/eval.rs
  tests/eval_fixtures.rs
  tests/evals/js/eval-cjs-monorepo/deno.lock
  tests/evals/js/eval-deno/deno.lock
  tests/evals/js/eval-esm-monorepo/deno.lock
  tests/evals/js/eval-esm/deno.lock
  tests/evals/mixed/mixed-py-js/deno.lock
  tests/evals/py/multi-venv-a/eval_a.py
  tests/evals/py/multi-venv-a/pyproject.toml
  tests/evals/py/multi-venv-a/uv.lock
  tests/evals/py/multi-venv-b/eval_b.py
  tests/evals/py/multi-venv-b/pyproject.toml
  tests/evals/py/multi-venv-b/uv.lock
Due: cargo-fmt, cargo-clippy

chore: route dev server evals by plan instead of running all partitions
  src/eval.rs
  src/ui/mod.rs
  tests/eval_dev_server.rs
  tests/eval_fixtures.rs
Due: cargo-fmt, cargo-clippy

chore: fix clippy warnings
  src/eval.rs
  src/ui/ratatui_table.rs
Due: cargo-fmt, cargo-clippy

feat: Inject eval sample rate into SDK runtime with `bt eval <...> --sample 5`
  scripts/eval-runner-impl.ts
  scripts/eval-runner.py
  tests/evals/js/eval-sample-init-dataset/fixture.json
  tests/evals/js/eval-sample-init-dataset/local-braintrust/dist/index.js
  tests/evals/js/eval-sample-init-dataset/local-braintrust/package.json
  tests/evals/js/eval-sample-init-dataset/package.json
  tests/evals/js/eval-sample-init-dataset/sample-init-dataset.eval.cjs
  tests/evals/py/eval_sample_runtime_value/eval_sample_runtime_value.py
  tests/evals/py/eval_sample_runtime_value/fixture.json
Due: tsc, oxlint

support parsing experiment links properly
  src/experiments/api.rs
  src/traces.rs
Due: cargo-fmt, cargo-clippy

feat: bt playgrounds list view rename delete
  src/main.rs
  src/playgrounds/api.rs
  src/playgrounds/delete.rs
  src/playgrounds/list.rs
  src/playgrounds/mod.rs
  src/playgrounds/rename.rs
  src/playgrounds/view.rs
  src/ui/ratatui_table.rs
Due: cargo-fmt, cargo-clippy

chore: update doc and comments following bt.exe successful azure artifact signing (#241)
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
Due: none

feat: bt auth profiles --print-jwt-token to help the gateway since it needs the token fix --json being ignored `bt auth profiles --profile name` now only shows the selected profile
  src/auth.rs
  src/ui/ratatui_table.rs
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

fix: --json flag not respected by bt auth login/logout/refresh
  src/auth.rs
  src/ui/mod.rs
  src/ui/status.rs
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

fix: small polish
  src/auth.rs
  src/ui/status.rs
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

Generalize to btql
  scripts/eval-runner-impl.ts
  scripts/eval-runner.py
  tests/evals/js/eval-sample-init-dataset/local-braintrust/dist/index.js
  tests/evals/py/eval_sample_runtime_value/eval_sample_runtime_value.py
Due: tsc, oxlint

feat: Inject eval sample rate into SDK runtime with `bt eval <...> --sample 5` (#247)
  scripts/eval-runner-impl.ts
  scripts/eval-runner.py
  tests/evals/js/eval-sample-init-dataset/fixture.json
  tests/evals/js/eval-sample-init-dataset/local-braintrust/dist/index.js
  tests/evals/js/eval-sample-init-dataset/local-braintrust/package.json
  tests/evals/js/eval-sample-init-dataset/package.json
  tests/evals/js/eval-sample-init-dataset/sample-init-dataset.eval.cjs
  tests/evals/py/eval_sample_runtime_value/eval_sample_runtime_value.py
  tests/evals/py/eval_sample_runtime_value/fixture.json
Due: tsc, oxlint

feat: Add custom view commands (dataset views, trace views)
  scripts/views-runner.ts
  scripts/views-sdk.ts
  src/datasets/api.rs
  src/main.rs
  src/views.rs
  tests/cli.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

.
  scripts/views-runner.ts
  scripts/views-sdk.ts
  src/views.rs
  tests/cli.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

no aliases
  src/views.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

fix auth hint
  src/main.rs
Due: cargo-fmt, cargo-clippy

Fix auth hint (#255)
  src/main.rs
Due: cargo-fmt, cargo-clippy

show default org properly
  Cargo.toml
  src/auth.rs
Due: cargo-fmt, cargo-clippy

improve
  src/auth.rs
Due: cargo-fmt, cargo-clippy

Fix login redirect (#256)
  Cargo.toml
  src/auth.rs
Due: cargo-fmt, cargo-clippy

fix tracing / sessions
  src/loop_cmd.rs
Due: cargo-fmt, cargo-clippy

Rename `bt self update` command to `bt update`
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  .github/workflows/smoke-install-minimal.yml
  README.md
  src/main.rs
  src/self_update.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

simplify tracing
  src/loop_cmd.rs
Due: cargo-fmt, cargo-clippy
