Repository braintrustdata/bt: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, oxlint, cargo-fmt, cargo-clippy

tsc:
  name: tsc
  entry: pnpm exec tsc -p tsconfig.json --noEmit
  language: system
  pass_filenames: false

oxlint:
  name: oxlint
  entry: npx --yes oxlint --max-warnings=0 --fix
  language: system
  pass_filenames: true

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  entry: cargo clippy --locked --all-targets --all-features --fix --allow-dirty --allow-staged -- -D warnings
  language: system
  pass_filenames: false

Bump bt-daemon to pending plugin v2 commit (#352)
  Cargo.lock
  Cargo.toml
Due: none

Fix trace routes to resolve the organization's data-plane API URL
  src/auth.rs
  src/trace_host.rs
Due: cargo-fmt, cargo-clippy

Fix trace routes to resolve the organization's data-plane API URL (#354)
  src/auth.rs
  src/trace_host.rs
Due: cargo-fmt, cargo-clippy

Bump coding agent plugins dependency
  Cargo.lock
  Cargo.toml
Due: none

Bump coding agent plugins dependency (#355)
  Cargo.lock
  Cargo.toml
Due: none

Remove window from object types (#331)
  src/sync.rs
Due: cargo-fmt, cargo-clippy

feat(functions): update functions tools and scorers
  README.md
  src/functions/api.rs
  src/functions/create.rs
  src/functions/mod.rs
  src/functions/prompt_patch.rs
  src/functions/scorer_config.rs
  src/functions/update.rs
  src/scorers.rs
  tests/cli.rs
  tests/datasets-fixtures/snapshots-create/fixture.json
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

chore: bump bt-daemon for bounded message history
  Cargo.lock
  Cargo.toml
Due: none

docs(skills): point sdk-install guides at per-language install pages
  skills/sdk-install/csharp.md
  skills/sdk-install/go.md
  skills/sdk-install/java.md
  skills/sdk-install/python.md
  skills/sdk-install/ruby.md
  skills/sdk-install/typescript.md
Due: none

chore: Fix security alerts
  Cargo.lock
  Cargo.toml
Due: none

Fetch Markdown documentation pages
  src/setup/docs.rs
Due: cargo-fmt, cargo-clippy

Honor JSON output for project commands
  src/projects/create.rs
  src/projects/delete.rs
  src/projects/mod.rs
  src/projects/view.rs
Due: cargo-fmt, cargo-clippy

Bump bt-daemon for bounded coding-agent message history (#357)
  Cargo.lock
  Cargo.toml
Due: none

SDK-325 Fetch Markdown documentation pages (#360)
  src/setup/docs.rs
Due: cargo-fmt, cargo-clippy

SDK-223 Honor JSON output for project commands (#361)
  src/projects/create.rs
  src/projects/delete.rs
  src/projects/mod.rs
  src/projects/view.rs
Due: cargo-fmt, cargo-clippy

Honor public app URL in generated links
  src/args.rs
  src/auth.rs
  src/datasets/pipeline.rs
  src/datasets/view.rs
  src/eval.rs
  src/experiments/view.rs
  src/functions/mod.rs
  src/functions/view.rs
  src/main.rs
  src/project_context.rs
  src/projects/mod.rs
  src/prompts/view.rs
  src/setup/mod.rs
  src/sync.rs
  src/topics/api.rs
  src/topics/open.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

Use public app URLs for generated links (#363)
  src/args.rs
  src/auth.rs
  src/datasets/pipeline.rs
  src/datasets/view.rs
  src/eval.rs
  src/experiments/view.rs
  src/functions/mod.rs
  src/functions/view.rs
  src/main.rs
  src/project_context.rs
  src/projects/mod.rs
  src/prompts/view.rs
  src/setup/mod.rs
  src/sync.rs
  src/topics/api.rs
  src/topics/open.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

Added: Go eval support
  README.md
  src/eval.rs
  src/go_runner.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy

Added: eval-tests-go to CI matrix
  .github/workflows/tests.yml
  src/eval.rs
Due: cargo-fmt, cargo-clippy

test: run full unit suite in CI
  .github/workflows/tests.yml
  src/eval.rs
Due: cargo-fmt, cargo-clippy

ci: avoid duplicate pull request checks
  .github/workflows/pre-commit.yml
  .github/workflows/tests.yml
Due: none

chore: Fix security alerts (#359)
  Cargo.lock
  Cargo.toml
Due: none

bump bt daemon dependency
  Cargo.lock
  Cargo.toml
Due: none

bump bt daemon dependency (#365)
  Cargo.lock
  Cargo.toml
Due: none

test: run full unit suite in CI (#364)
  .github/workflows/pre-commit.yml
  .github/workflows/tests.yml
  src/eval.rs
Due: cargo-fmt, cargo-clippy

feat: Go eval support (#305)
  .github/workflows/tests.yml
  README.md
  src/eval.rs
  src/go_runner.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy

Bump Rust SDK and daemon dependencies
  Cargo.lock
  Cargo.toml
  src/trace_host.rs
Due: cargo-fmt, cargo-clippy

Bump Rust SDK and daemon dependencies (#366)
  Cargo.lock
  Cargo.toml
  src/trace_host.rs
Due: cargo-fmt, cargo-clippy

ci: add commit messages to generated release notes
  .github/workflows/release.yml
Due: none

[topics] remove --relabel-overlap from topics
  src/observability/template.rs
  src/topics/api.rs
  src/topics/config.rs
  src/topics/mod.rs
  src/topics/status.rs
Due: cargo-fmt, cargo-clippy

docs(skills): reduce sdk-install guides to their install docs links
  skills/sdk-install/csharp.md
  skills/sdk-install/go.md
  skills/sdk-install/instrument-task.md
  skills/sdk-install/java.md
  skills/sdk-install/python.md
  skills/sdk-install/ruby.md
  skills/sdk-install/typescript.md
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

docs(skills): point sdk-install guides at per-language install pages (#358)
  skills/sdk-install/csharp.md
  skills/sdk-install/go.md
  skills/sdk-install/instrument-task.md
  skills/sdk-install/java.md
  skills/sdk-install/python.md
  skills/sdk-install/ruby.md
  skills/sdk-install/typescript.md
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

ci: fix release-notes commit range for manual/backport releases
  .github/workflows/release.yml
Due: none

[topics] remove --relabel-overlap from topics (#369)
  src/observability/template.rs
  src/topics/api.rs
  src/topics/config.rs
  src/topics/mod.rs
  src/topics/status.rs
Due: cargo-fmt, cargo-clippy

chore(deps): bump bt-daemon revision
  Cargo.lock
  Cargo.toml
Due: none

bump bt daemon to latest
  Cargo.lock
  Cargo.toml
Due: none

bump bt daemon to latest (#371)
  Cargo.lock
  Cargo.toml
Due: none

feat: Add commands for pushing and previewing custom views
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Cargo.lock
  Cargo.toml
  README.md
  build.rs
  package.json
  pnpm-lock.yaml
  scripts/custom-views-assets.mjs
  scripts/custom-views-preview.html
  scripts/custom-views-preview.test.mjs
  scripts/custom-views-runner.mjs
  src/custom_views.rs
  src/datasets/api.rs
  src/main.rs
  src/traces.rs
  tests/cli.rs
Due: oxlint, cargo-fmt, cargo-clippy

fix: default daemon session route extensions
  src/trace_host.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  tsc: any of: \.ts$
  oxlint: any of: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx)$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
