Repository braintrustdata/bt: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, oxlint, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.4.1
    hooks:
      - id: prettier
        files: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx|json|md|mdx|yaml|yml)$
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm exec tsc -p tsconfig.json --noEmit
        language: system
        files: \.ts$
        pass_filenames: false
      - id: oxlint
        name: oxlint
        entry: npx --yes oxlint --max-warnings=0 --fix
        language: system
        files: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx)$
        pass_filenames: true
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt --all
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo-clippy
        entry: cargo clippy --locked --all-targets --all-features --fix --allow-dirty --allow-staged -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

feat: add unified install script with version selection
  Cargo.toml
  README.md
  install.sh
Due: none

refactor(setup): consolidate agent tools step in setup wizard
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

installer script (#38)
  Cargo.toml
  README.md
  install.sh
Due: none

small fixes to esm monorepo
  tests/evals/js/eval-esm-monorepo/packages/lib/src/helper.mjs
  tests/evals/js/eval-esm-monorepo/packages/lib/src/index.mjs
Due: oxlint

feat(setup): add streaming agent output display with progress indicators
  src/setup/agent_stream.rs
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

drop parse-args (separate PR)
  tests/evals/js/eval-cjs-monorepo/fixture.json
  tests/evals/js/eval-esm-monorepo/fixture.json
  tests/evals/js/eval-esm/fixture.json
  tests/evals/js/eval-esm/tests/parse-args.eval.mjs
Due: oxlint

make sure tests work for all runners
  tests/evals/js/eval-cjs-monorepo/fixture.json
  tests/evals/js/eval-cjs-monorepo/package.json
  tests/evals/js/eval-esm-monorepo/fixture.json
  tests/evals/js/eval-esm-monorepo/package.json
  tests/evals/js/eval-esm-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-esm/fixture.json
  tests/evals/js/eval-esm/package.json
  tests/evals/js/eval-esm/pnpm-lock.yaml
Due: none

refactor(auth): extract profile commit logic into helper functions
  src/auth.rs
  src/setup/agent_stream.rs
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

add parse args tests
  tests/evals/js/eval-esm/fixture.json
  tests/evals/js/eval-esm/tests/parse-args.eval.mjs
Due: oxlint

Add experiments, functions, tools, and scorers commands (#31)
  Cargo.lock
  src/args.rs
  src/experiments/api.rs
  src/experiments/delete.rs
  src/experiments/list.rs
  src/experiments/mod.rs
  src/experiments/view.rs
  src/functions/api.rs
  src/functions/delete.rs
  src/functions/invoke.rs
  src/functions/list.rs
  src/functions/mod.rs
  src/functions/view.rs
  src/http.rs
  src/main.rs
  src/prompts/delete.rs
  src/prompts/mod.rs
  src/prompts/view.rs
  src/scorers.rs
  src/tools.rs
  src/ui/mod.rs
  src/ui/prompt_render.rs
Due: cargo-fmt, cargo-clippy

fix(eval): add unauthorized response for missing auth branch
  src/eval.rs
Due: cargo-fmt, cargo-clippy

lint
  tests/evals/js/eval-cjs-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-esm-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-esm/pnpm-lock.yaml
Due: none

lint
  tests/evals/js/eval-cjs-monorepo/packages/lib/src/helper.cjs
  tests/evals/js/eval-cjs-monorepo/packages/lib/src/utils.cjs
  tests/evals/js/eval-cjs-monorepo/tests/basic.eval.cjs
  tests/evals/js/eval-esm-monorepo/tests/basic.eval.mjs
Due: oxlint

Remote evals (#14)
  AGENTS.md
  Cargo.lock
  Cargo.toml
  scripts/eval-runner.py
  scripts/eval-runner.ts
  src/eval.rs
  tests/eval_fixtures.rs
  tests/evals/js/eval-ts-node-only/package.json
  tests/evals/js/eval-ts-node-only/tests/remote-list-params.eval.ts
Due: tsc, oxlint, cargo-fmt, cargo-clippy

lint
  tests/evals/js/eval-esm/tests/parse-args.eval.mjs
Due: oxlint

setup polish (#39)
  src/auth.rs
  src/setup/agent_stream.rs
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

feat(cli): add quiet mode, color control, exit codes, and examples
  src/args.rs
  src/auth.rs
  src/eval.rs
  src/experiments/mod.rs
  src/functions/mod.rs
  src/http.rs
  src/init.rs
  src/main.rs
  src/projects/mod.rs
  src/prompts/mod.rs
  src/self_update.rs
  src/setup/docs.rs
  src/setup/mod.rs
  src/sql.rs
  src/status.rs
  src/switch.rs
  src/sync.rs
  src/traces.rs
  src/ui/mod.rs
  src/ui/spinner.rs
  src/ui/status.rs
Due: cargo-fmt, cargo-clippy

feat(auth): add verbose flag to show org IDs and API URLs in selector
  src/auth.rs
  src/functions/mod.rs
  src/main.rs
  src/scorers.rs
  src/sql.rs
  src/tools.rs
  src/traces.rs
Due: cargo-fmt, cargo-clippy

refactor(auth): simplify login flows and consolidate output formatting
  src/auth.rs
Due: cargo-fmt, cargo-clippy

refactor(auth): simplify login flows and consolidate output formatting
  src/experiments/delete.rs
  src/functions/delete.rs
  src/functions/invoke.rs
  src/init.rs
  src/projects/delete.rs
  src/prompts/delete.rs
  src/setup/mod.rs
  src/sql.rs
  src/sync.rs
  src/traces.rs
Due: cargo-fmt, cargo-clippy

clig polish (#42)
  src/args.rs
  src/auth.rs
  src/eval.rs
  src/experiments/delete.rs
  src/experiments/mod.rs
  src/functions/delete.rs
  src/functions/invoke.rs
  src/functions/mod.rs
  src/http.rs
  src/init.rs
  src/main.rs
  src/projects/delete.rs
  src/projects/mod.rs
  src/prompts/delete.rs
  src/prompts/mod.rs
  src/scorers.rs
  src/self_update.rs
  src/setup/docs.rs
  src/setup/mod.rs
  src/sql.rs
  src/status.rs
  src/switch.rs
  src/sync.rs
  src/tools.rs
  src/traces.rs
  src/ui/mod.rs
  src/ui/spinner.rs
  src/ui/status.rs
Due: cargo-fmt, cargo-clippy

refactor(status): improve config resolution and profile lookup logic
  src/args.rs
  src/auth.rs
  src/env.rs
  src/main.rs
  src/status.rs
Due: cargo-fmt, cargo-clippy

feat(auth): add profile overwrite confirmation prompt
  src/auth.rs
  src/main.rs
  src/status.rs
Due: cargo-fmt, cargo-clippy

feat(config): add project_id field to config structure
  install.sh
  src/config/mod.rs
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

Add profile overwrite confirmation and improve config resolution (#43)
  src/args.rs
  src/auth.rs
  src/env.rs
  src/main.rs
  src/status.rs
Due: cargo-fmt, cargo-clippy

feat(config): add project_id field to config structure (#44)
  install.sh
  src/config/mod.rs
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

chore: bump version to 0.2.0 and update install paths
  Cargo.toml
Due: none

chore: bump version to 0.2.0 and update install paths (#45)
  Cargo.toml
Due: none

ci: change install path from cargo to XDG_BIN_HOME to use XDG_*
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  Cargo.lock
Due: none

ci: change install path from cargo to XDG_BIN_HOME to use XDG_* (#46)
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  Cargo.lock
Due: none

docs: update install URLs and paths to use bt.dev domain
  README.md
Due: none

docs: update install URLs and paths to use bt.dev domain (#47)
  README.md
Due: none

refactor: replace sql_quote with btql_quote for query generation
  src/sync.rs
  src/traces.rs
Due: cargo-fmt, cargo-clippy

Add env var parity for eval CLI flags
  src/eval.rs
Due: cargo-fmt, cargo-clippy

Add eval args env parsing unit test
  src/eval.rs
Due: cargo-fmt, cargo-clippy

fix more stuff
  AGENTS.md
  src/http.rs
  src/sync.rs
Due: cargo-fmt, cargo-clippy

fix
  src/setup/agent_stream.rs
  src/sync.rs
Due: cargo-fmt, cargo-clippy

fix
  src/setup/docs.rs
  src/setup/mod.rs
  src/sync.rs
Due: cargo-fmt, cargo-clippy

fix
  src/sync.rs
Due: cargo-fmt, cargo-clippy
