Repository braintrustdata/bt: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, oxlint, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.4.1
    hooks:
      - id: prettier
        files: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx|json|md|mdx|yaml|yml)$
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm exec tsc -p tsconfig.json --noEmit
        language: system
        files: \.ts$
        pass_filenames: false
      - id: oxlint
        name: oxlint
        entry: npx --yes oxlint --max-warnings=0 --fix
        language: system
        files: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx)$
        pass_filenames: true
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt --all
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo-clippy
        entry: cargo clippy --locked --all-targets --all-features --fix --allow-dirty --allow-staged -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

Support ts-node with embedded eval runner
  src/eval.rs
Due: cargo-fmt, cargo-clippy

reduce matrix
  .github/workflows/tests.yml
Due: none

Install commands (#3)
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  Cargo.toml
  README.md
  cli-plan.md
  src/eval.rs
  src/main.rs
  tests/eval_fixtures.rs
Due: cargo-fmt, cargo-clippy

split python and TS actions
  .github/workflows/tests.yml
  tests/eval_fixtures.rs
Due: cargo-fmt, cargo-clippy

Install command (#7)
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  Cargo.toml
  README.md
  cli-plan.md
  src/eval.rs
  src/main.rs
  tests/eval_fixtures.rs
Due: cargo-fmt, cargo-clippy

auto release workflow
  .github/workflows/tag-on-version-bump.yml
Due: none

Add eval flags jsonl/list/filter/terminate/num-workers
  scripts/eval-runner.py
  scripts/eval-runner.ts
  src/eval.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

improve self update
  src/self_update.rs
Due: cargo-fmt, cargo-clippy

bump
  Cargo.toml
Due: none

update lock
  Cargo.lock
Due: none

smoke test
  .github/workflows/smoke-install-minimal.yml
Due: none

Resolve eval runner reporters when determining failures
  scripts/eval-runner.py
  scripts/eval-runner.ts
Due: tsc, oxlint

Prefer virtualenv python for eval runner
  src/eval.rs
Due: cargo-fmt, cargo-clippy

watch
  .github/workflows/tests.yml
  eval-todo.md
  scripts/eval-runner.py
  scripts/eval-runner.ts
  src/eval.rs
  tests/eval_fixtures.rs
  tests/evals/js/eval-deno/fixture.json
  tests/evals/js/eval-deno/package.json
  tests/evals/js/eval-deno/tests/basic.eval.ts
  tests/evals/js/eval-deno/tests/helper.ts
Due: tsc, oxlint, cargo-fmt, cargo-clippy

Fix eval CI runtime gating and SSE socket exit behavior
  scripts/eval-runner.ts
  tests/eval_fixtures.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

Handle SSE socket setup failures in eval runner
  scripts/eval-runner.ts
Due: tsc, oxlint

Propagate inherited braintrust state in eval runner
  scripts/eval-runner.ts
Due: tsc, oxlint

Use node: builtins in eval runner for runtime compatibility
  scripts/eval-runner.ts
Due: tsc, oxlint

Lazy-load net module for SSE in eval runner
  scripts/eval-runner.ts
Due: tsc, oxlint

Use runner argv path for createRequire base
  scripts/eval-runner.ts
Due: tsc, oxlint

Add deno fixture diagnostics on eval failure
  tests/eval_fixtures.rs
Due: cargo-fmt, cargo-clippy

Run Python evaluators concurrently by default
  scripts/eval-runner.py
Due: none

Fix deno eval runner CJS detection
  src/eval.rs
  tests/eval_fixtures.rs
Due: cargo-fmt, cargo-clippy

Use project-local runner for deno eval
  src/eval.rs
  tests/eval_fixtures.rs
Due: cargo-fmt, cargo-clippy

Regenerate lockfile and clean deno runner signature
  Cargo.lock
  src/eval.rs
Due: cargo-fmt, cargo-clippy

Update Cargo.lock for merged version bump
  Cargo.lock
Due: none

Improve eval runner compatibility for TS and Python imports
  scripts/eval-runner.py
  scripts/eval-runner.ts
Due: tsc, oxlint

make runtime selector better
  Cargo.lock
  README.md
  src/eval.rs
Due: cargo-fmt, cargo-clippy

print pr release
  .github/workflows/release-canary.yml
Due: none

fix lockfile
  Cargo.lock
Due: none

fix
  .github/workflows/release-canary.yml
Due: none

Format eval-runner for pre-commit
  scripts/eval-runner.ts
Due: tsc, oxlint

Make runtime selector better (#11)
  README.md
  src/eval.rs
Due: cargo-fmt, cargo-clippy

Watch command (#10)
  .github/workflows/tests.yml
  .gitignore
  Cargo.lock
  eval-todo.md
  scripts/eval-runner.py
  scripts/eval-runner.ts
  src/eval.rs
  tests/eval_fixtures.rs
  tests/evals/js/eval-deno/fixture.json
  tests/evals/js/eval-deno/package.json
  tests/evals/js/eval-deno/tests/basic.eval.ts
  tests/evals/js/eval-deno/tests/helper.ts
Due: tsc, oxlint, cargo-fmt, cargo-clippy

parse filters in rust
  scripts/eval-runner.py
  scripts/eval-runner.ts
  src/eval.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

Add more eval flags (#9)
  scripts/eval-runner.py
  scripts/eval-runner.ts
  src/eval.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

feat(prompts): Add skeleton for prompts command with list, view, and delete subcommands
  src/main.rs
  src/prompts/api.rs
  src/prompts/delete.rs
  src/prompts/list.rs
  src/prompts/mod.rs
  src/prompts/view.rs
Due: cargo-fmt, cargo-clippy

refactor(prompts): replace manual table formatting with comfy_table
  src/projects/list.rs
  src/prompts/list.rs
  src/ui/mod.rs
  src/ui/table.rs
  src/utils/plurals.rs
Due: cargo-fmt, cargo-clippy

feat(prompts): implement list command
  Cargo.toml
  src/main.rs
  src/prompts/api.rs
  src/prompts/list.rs
  src/prompts/mod.rs
  src/utils/mod.rs
  src/utils/plurals.rs
Due: cargo-fmt, cargo-clippy
