Repository braintrustdata/bt: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, oxlint, cargo-fmt, cargo-clippy

tsc:
  name: tsc
  entry: pnpm exec tsc -p tsconfig.json --noEmit
  language: system
  pass_filenames: false

oxlint:
  name: oxlint
  entry: npx --yes oxlint --max-warnings=0 --fix
  language: system
  pass_filenames: true

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  entry: cargo clippy --locked --all-targets --all-features --fix --allow-dirty --allow-staged -- -D warnings
  language: system
  pass_filenames: false

Fix filters in trace sync (#62)
  src/sync.rs
Due: cargo-fmt, cargo-clippy

add fix for loading braintrust ts sdk when using a local version
  scripts/eval-runner.ts
  tests/evals/js/eval-ts-local-sdk/declarations.d.ts
  tests/evals/js/eval-ts-local-sdk/esm-only-pkg/index.d.ts
  tests/evals/js/eval-ts-local-sdk/esm-only-pkg/index.js
  tests/evals/js/eval-ts-local-sdk/esm-only-pkg/package.json
  tests/evals/js/eval-ts-local-sdk/fixture.json
  tests/evals/js/eval-ts-local-sdk/local-braintrust/dist/index.js
  tests/evals/js/eval-ts-local-sdk/local-braintrust/dist/index.mjs
  tests/evals/js/eval-ts-local-sdk/local-braintrust/package.json
  tests/evals/js/eval-ts-local-sdk/package.json
  tests/evals/js/eval-ts-local-sdk/pnpm-lock.yaml
  tests/evals/js/eval-ts-local-sdk/tests/basic.eval.ts
  tests/evals/js/eval-ts-local-sdk/tsconfig.json
Due: tsc, oxlint

add fix for loading braintrust ts sdk when using a local version (#63)
  scripts/eval-runner.ts
  tests/evals/js/eval-ts-local-sdk/declarations.d.ts
  tests/evals/js/eval-ts-local-sdk/esm-only-pkg/index.d.ts
  tests/evals/js/eval-ts-local-sdk/esm-only-pkg/index.js
  tests/evals/js/eval-ts-local-sdk/esm-only-pkg/package.json
  tests/evals/js/eval-ts-local-sdk/fixture.json
  tests/evals/js/eval-ts-local-sdk/local-braintrust/dist/index.js
  tests/evals/js/eval-ts-local-sdk/local-braintrust/dist/index.mjs
  tests/evals/js/eval-ts-local-sdk/local-braintrust/package.json
  tests/evals/js/eval-ts-local-sdk/package.json
  tests/evals/js/eval-ts-local-sdk/pnpm-lock.yaml
  tests/evals/js/eval-ts-local-sdk/tests/basic.eval.ts
  tests/evals/js/eval-ts-local-sdk/tsconfig.json
Due: tsc, oxlint

Little utilities for parsing / working with transaction ids and pagination keys (#51)
  Cargo.lock
  Cargo.toml
  README.md
  src/main.rs
  src/util_cmd.rs
Due: cargo-fmt, cargo-clippy

improve python eval wrapper
  scripts/eval-runner.py
Due: none

improve python eval wrapper (#64)
  scripts/eval-runner.py
Due: none

add a cjs only dependency
  tests/evals/js/eval-vite-node-cjs/fixture.json
  tests/evals/js/eval-vite-node-cjs/package.json
  tests/evals/js/eval-vite-node-cjs/pnpm-lock.yaml
  tests/evals/js/eval-vite-node-cjs/tests/basic.eval.ts
Due: tsc, oxlint

add a otel example
  tests/evals/js/eval-ts-vite-monorepo/tests/basic.eval.ts
  tests/evals/js/eval-vite/fixture.json
  tests/evals/js/eval-vite/package.json
  tests/evals/js/eval-vite/pnpm-lock.yaml
  tests/evals/js/eval-vite/tests/basic.eval.ts
  tests/evals/js/eval-vite/tests/helper.ts
  tests/evals/js/eval-vite/tests/instrument.ts
  tests/evals/js/eval-vite/tsconfig.json
Due: tsc, oxlint

fix: avoid require for vite-node
  scripts/eval-runner.ts
  src/eval.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

avoid reusing runner env var
  scripts/eval-runner.ts
  src/eval.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

remove deno
  tests/evals/js/eval-ts-monorepo/fixture.json
Due: none

update test to be more strict
  tests/evals/js/eval-esm/tests/parse-args.eval.mjs
Due: oxlint

avoid passing args via argv and instead pass via envs
  scripts/eval-runner.ts
  src/eval.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

emit progress events from the python dev server
  scripts/eval-runner.py
  src/setup/mod.rs
  tests/eval_dev_server.rs
  tests/evals/py/streaming/eval_streaming.py
  tests/evals/py/streaming/fixture.json
Due: cargo-fmt, cargo-clippy

Replace bt login references with bt auth
  skills/shared/braintrust-cli-body.md
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

Replace bt login references with bt auth (#66)
  skills/shared/braintrust-cli-body.md
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

add parse args tests (#41)
  scripts/eval-runner.ts
  src/eval.rs
  tests/evals/js/eval-esm/fixture.json
  tests/evals/js/eval-esm/tests/parse-args.eval.mjs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

more esm and vite test coverage (#54)
  scripts/eval-runner.ts
  src/eval.rs
  tests/evals/js/eval-ts-monorepo/fixture.json
  tests/evals/js/eval-ts-monorepo/package.json
  tests/evals/js/eval-ts-monorepo/packages/lib/package.json
  tests/evals/js/eval-ts-monorepo/packages/lib/src/helper.ts
  tests/evals/js/eval-ts-monorepo/packages/lib/src/index.ts
  tests/evals/js/eval-ts-monorepo/packages/lib/src/utils.ts
  tests/evals/js/eval-ts-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-ts-monorepo/pnpm-workspace.yaml
  tests/evals/js/eval-ts-monorepo/tests/basic.eval.ts
  tests/evals/js/eval-ts-vite-monorepo/fixture.json
  tests/evals/js/eval-ts-vite-monorepo/package.json
  tests/evals/js/eval-ts-vite-monorepo/packages/lib/package.json
  tests/evals/js/eval-ts-vite-monorepo/packages/lib/src/helper.ts
  tests/evals/js/eval-ts-vite-monorepo/packages/lib/src/index.ts
  tests/evals/js/eval-ts-vite-monorepo/packages/lib/src/utils.ts
  tests/evals/js/eval-ts-vite-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-ts-vite-monorepo/pnpm-workspace.yaml
  tests/evals/js/eval-ts-vite-monorepo/tests/basic.eval.ts
  tests/evals/js/eval-ts-vite-monorepo/tsconfig.json
  tests/evals/js/eval-vite-node-cjs/fixture.json
  tests/evals/js/eval-vite-node-cjs/package.json
  tests/evals/js/eval-vite-node-cjs/pnpm-lock.yaml
  tests/evals/js/eval-vite-node-cjs/tests/basic.eval.ts
  tests/evals/js/eval-vite/fixture.json
  tests/evals/js/eval-vite/package.json
  tests/evals/js/eval-vite/pnpm-lock.yaml
  tests/evals/js/eval-vite/tests/basic.eval.ts
  tests/evals/js/eval-vite/tests/helper.ts
  tests/evals/js/eval-vite/tests/instrument.ts
  tests/evals/js/eval-vite/tsconfig.json
Due: tsc, oxlint, cargo-fmt, cargo-clippy

add a test to show extra args are not working
  tests/eval_fixtures.rs
  tests/evals/js/eval-extra-args/fixture.json
  tests/evals/js/eval-extra-args/package.json
  tests/evals/js/eval-extra-args/tests/extra-args.eval.mjs
Due: oxlint, cargo-fmt, cargo-clippy

fix pass along extra args to files
  scripts/eval-runner.ts
  src/eval.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

add glob test
  tests/evals/js/eval-glob/fixture.json
  tests/evals/js/eval-glob/package.json
  tests/evals/js/eval-glob/tests/a.eval.mjs
  tests/evals/js/eval-glob/tests/b.eval.mjs
  tests/evals/js/eval-glob/tests/sub/c.eval.mjs
Due: oxlint

add glob
  Cargo.lock
  Cargo.toml
  src/eval.rs
Due: cargo-fmt, cargo-clippy

support . and other edge cases
  src/eval.rs
  tests/evals/js/eval-glob/fixture.json
Due: cargo-fmt, cargo-clippy

use glob to include/exclude
  scripts/eval-runner.py
  src/eval.rs
Due: cargo-fmt, cargo-clippy

allow extra args (#67)
  scripts/eval-runner.ts
  src/eval.rs
  tests/eval_fixtures.rs
  tests/evals/js/eval-extra-args/fixture.json
  tests/evals/js/eval-extra-args/package.json
  tests/evals/js/eval-extra-args/tests/extra-args.eval.mjs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

for default globs avoid well known folders like venv and node_modules
  src/eval.rs
Due: cargo-fmt, cargo-clippy

handle directories with default globs
  src/eval.rs
Due: cargo-fmt, cargo-clippy

add glob support for file inputs (#68)
  Cargo.lock
  Cargo.toml
  scripts/eval-runner.py
  src/eval.rs
  tests/evals/js/eval-glob/fixture.json
  tests/evals/js/eval-glob/package.json
  tests/evals/js/eval-glob/tests/a.eval.mjs
  tests/evals/js/eval-glob/tests/b.eval.mjs
  tests/evals/js/eval-glob/tests/sub/c.eval.mjs
Due: oxlint, cargo-fmt, cargo-clippy

Bump version to 0.3.0 and document eval file selection
  Cargo.lock
  Cargo.toml
  README.md
  src/eval.rs
Due: cargo-fmt, cargo-clippy

Bump version to 0.3.0 and document eval file selection (#69)
  Cargo.lock
  Cargo.toml
  README.md
  src/eval.rs
Due: cargo-fmt, cargo-clippy

refactor(push): use file_type instead of path.is_file() for consistency
  src/functions/pull.rs
  src/functions/push.rs
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

feat(functions): add positional file arguments to push command
  src/functions/mod.rs
  src/functions/push.rs
  tests/functions-fixtures/push-multiple-files-accepted/fixture.json
Due: cargo-fmt, cargo-clippy

Implement bt functions push
  scripts/functions-runner.py
  scripts/functions-runner.ts
  src/functions/push.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

feat(functions): add version filter and legacy compatibility flags
  src/args.rs
  src/functions/api.rs
  src/functions/mod.rs
  src/functions/pull.rs
  src/functions/push.rs
  src/main.rs
  src/utils/git.rs
  tests/functions-fixtures/pull-help-env-vars/fixture.json
  tests/functions-fixtures/pull-help-flags/fixture.json
  tests/functions-fixtures/pull-id-slug-conflict/fixture.json
  tests/functions-fixtures/pull-valid-language-typescript-parses/fixture.json
  tests/functions-fixtures/push-help-env-vars/fixture.json
  tests/functions-fixtures/push-help-flags/fixture.json
  tests/functions-fixtures/push-reject-external-packages/fixture.json
  tests/functions-fixtures/push-reject-tsconfig/fixture.json
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

Add functions push/pull tests and CLI fixtures
  src/main.rs
  tests/functions-fixtures/pull-help-env-vars/fixture.json
  tests/functions-fixtures/pull-help-flags/fixture.json
  tests/functions-fixtures/pull-id-slug-conflict/fixture.json
  tests/functions-fixtures/pull-invalid-language/fixture.json
  tests/functions-fixtures/pull-project-id-name-conflict/fixture.json
  tests/functions-fixtures/pull-valid-language-python-parses/fixture.json
  tests/functions-fixtures/pull-valid-language-typescript-parses/fixture.json
  tests/functions-fixtures/push-help-env-vars/fixture.json
  tests/functions-fixtures/push-help-flags/fixture.json
  tests/functions-fixtures/push-invalid-bool-env/fixture.json
  tests/functions-fixtures/push-invalid-language/fixture.json
  tests/functions-fixtures/push-multiple-files-accepted/fixture.json
  tests/functions-fixtures/push-reject-external-packages/fixture.json
  tests/functions-fixtures/push-reject-tsconfig/fixture.json
  tests/functions-fixtures/push-reject-type/fixture.json
  tests/functions-fixtures/push-valid-bool-env/fixture.json
  tests/functions-fixtures/push-valid-language-auto-parses/fixture.json
  tests/functions-fixtures/push-valid-language-javascript-parses/fixture.json
  tests/functions-fixtures/push-valid-language-python-parses/fixture.json
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

refactor(push): improve push confirmation prompt with file and project names
  src/functions/mod.rs
  src/functions/push.rs
  src/http.rs
  tests/functions-fixtures/push-multiple-files-accepted/fixture.json
Due: cargo-fmt, cargo-clippy

feat(functions): add progress indicator for pull command and cleanup output
  src/functions/pull.rs
Due: cargo-fmt, cargo-clippy

Add shared infrastructure for functions push/pull
  Cargo.lock
  Cargo.toml
  scripts/python_runner_common.py
  scripts/runner-common.ts
  src/js_runner.rs
  src/main.rs
  src/python_runner.rs
  src/source_language.rs
  src/utils/fs_atomic.rs
  src/utils/git.rs
  src/utils/mod.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

fix(functions-runner): force re-evaluation of imported input files
  scripts/functions-runner.ts
  tests/functions.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

fix(pull): use correct variable names for project resolution
  Cargo.lock
  Cargo.toml
  src/eval.rs
  src/functions/pull.rs
  src/functions/push.rs
  src/http.rs
  src/utils/fs_atomic.rs
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  tsc: any of: \.ts$
  oxlint: any of: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx)$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
