Repository braintrustdata/bt: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, oxlint, cargo-fmt, cargo-clippy

tsc:
  name: tsc
  entry: pnpm exec tsc -p tsconfig.json --noEmit
  language: system
  pass_filenames: false

oxlint:
  name: oxlint
  entry: npx --yes oxlint --max-warnings=0 --fix
  language: system
  pass_filenames: true

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  entry: cargo clippy --locked --all-targets --all-features --fix --allow-dirty --allow-staged -- -D warnings
  language: system
  pass_filenames: false

refactor(functions): remove create-missing-projects flag and confirmation prompt
  src/functions/mod.rs
  src/functions/push.rs
  tests/functions-fixtures/push-help-env-vars/fixture.json
  tests/functions-fixtures/push-help-flags/fixture.json
  tests/functions-fixtures/push-invalid-bool-env/fixture.json
  tests/functions-fixtures/push-valid-bool-env/fixture.json
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

refactor(functions): add multi-slug support to pull command
  src/functions/mod.rs
  src/functions/pull.rs
  src/functions/push.rs
  src/functions/report.rs
Due: cargo-fmt, cargo-clippy

Implement bt functions pull
  src/functions/pull.rs
Due: cargo-fmt, cargo-clippy

feat(functions): add JS bundling support with esbuild
  scripts/functions-bundler.ts
  src/functions/mod.rs
  src/functions/push.rs
  tests/functions.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

refactor(functions): remove legacy compatibility code and aliases
  scripts/functions-runner.py
  scripts/functions-runner.ts
  src/args.rs
  src/functions/api.rs
  src/functions/mod.rs
  src/functions/pull.rs
  src/functions/push.rs
  src/main.rs
  tests/functions-fixtures/pull-help-env-vars/fixture.json
  tests/functions-fixtures/pull-help-flags/fixture.json
  tests/functions-fixtures/pull-project-id-name-conflict/fixture.json
  tests/functions.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

fix: add legacy prompt support with tool function resolution
  scripts/functions-runner.ts
  src/functions/push.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

Add functions push/pull command structure, API layer, and report types
  src/auth.rs
  src/functions/api.rs
  src/functions/mod.rs
  src/functions/report.rs
  src/http.rs
Due: cargo-fmt, cargo-clippy

emit progress events from the python dev server
  Cargo.toml
  scripts/eval-runner.py
  src/eval.rs
  src/setup/mod.rs
  tests/eval_dev_server.rs
  tests/evals/py/atexit_flush/eval_atexit.py
  tests/evals/py/atexit_flush/fixture.json
  tests/evals/py/streaming/eval_streaming.py
  tests/evals/py/streaming/fixture.json
Due: cargo-fmt, cargo-clippy

emit progress events from the python dev server (#65)
  Cargo.toml
  scripts/eval-runner.py
  src/eval.rs
  src/setup/mod.rs
  tests/eval_dev_server.rs
  tests/evals/py/atexit_flush/eval_atexit.py
  tests/evals/py/atexit_flush/fixture.json
  tests/evals/py/streaming/eval_streaming.py
  tests/evals/py/streaming/fixture.json
Due: cargo-fmt, cargo-clippy

Add mixed Python/JS eval tests
  tests/evals/mixed/mixed-py-js/basic.eval.ts
  tests/evals/mixed/mixed-py-js/eval_basic.py
  tests/evals/mixed/mixed-py-js/fixture.json
  tests/evals/mixed/mixed-py-js/package.json
Due: tsc, oxlint

Infer language and runner from file extensions
  README.md
  src/eval.rs
  tests/eval_fixtures.rs
  tests/evals/js/eval-bun/fixture.json
  tests/evals/js/eval-cjs-monorepo/fixture.json
  tests/evals/js/eval-deno/fixture.json
  tests/evals/js/eval-esm-monorepo/fixture.json
  tests/evals/js/eval-esm/fixture.json
  tests/evals/js/eval-extra-args/fixture.json
  tests/evals/js/eval-glob/fixture.json
  tests/evals/js/eval-ts-esm-only-dep/fixture.json
  tests/evals/js/eval-ts-esm/fixture.json
  tests/evals/js/eval-ts-local-sdk/fixture.json
  tests/evals/js/eval-ts-monorepo/fixture.json
  tests/evals/js/eval-ts-vite-monorepo/fixture.json
  tests/evals/js/eval-vite-node-cjs/fixture.json
  tests/evals/js/eval-vite-node/fixture.json
  tests/evals/js/eval-vite/fixture.json
  tests/evals/py/absolute/fixture.json
  tests/evals/py/atexit_flush/fixture.json
  tests/evals/py/basic/fixture.json
  tests/evals/py/local_import/fixture.json
  tests/evals/py/relative/fixture.json
  tests/evals/py/streaming/fixture.json
Due: cargo-fmt, cargo-clippy

add support for pushing sandboxes
  scripts/functions-runner.py
  scripts/functions-runner.ts
  src/functions/mod.rs
  src/functions/push.rs
  tests/functions-fixtures/list-sandbox-type-parses/fixture.json
  tests/functions.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

fixes
  scripts/functions-bundler.ts
  scripts/functions-runner.py
  scripts/functions-runner.ts
  src/functions/push.rs
  tests/functions.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

fixes
  .gitignore
  scripts/eval-runner.py
  scripts/functions-runner.py
  scripts/python_runner_common.py
  src/eval.rs
  src/functions/push.rs
Due: cargo-fmt, cargo-clippy

Add custom CA bundle support across bt HTTP flows
  Cargo.lock
  Cargo.toml
  src/args.rs
  src/auth.rs
  src/eval.rs
  src/http.rs
  src/main.rs
  src/projects/mod.rs
  src/self_update.rs
  src/setup/docs.rs
  src/setup/mod.rs
  src/switch.rs
  src/sync.rs
  src/traces.rs
Due: cargo-fmt, cargo-clippy

Implement bt functions push
  scripts/functions-runner.py
  scripts/functions-runner.ts
  src/functions/push.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

refactor(push): improve push confirmation prompt with file and project names
  src/functions/mod.rs
  src/functions/push.rs
  src/http.rs
  tests/functions-fixtures/push-multiple-files-accepted/fixture.json
Due: cargo-fmt, cargo-clippy

fix(functions-push): restore runner, bundler, and project parity
  scripts/functions-bundler.ts
  scripts/functions-runner.py
  scripts/functions-runner.ts
  src/functions/mod.rs
  src/functions/push.rs
  src/python_runner.rs
  tests/functions-fixtures/push-help-flags/fixture.json
  tests/functions.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

refactor(push): use file_type instead of path.is_file() for consistency
  src/functions/pull.rs
  src/functions/push.rs
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

Add functions push/pull tests and CLI fixtures
  src/main.rs
  tests/functions-fixtures/pull-help-env-vars/fixture.json
  tests/functions-fixtures/pull-help-flags/fixture.json
  tests/functions-fixtures/pull-id-slug-conflict/fixture.json
  tests/functions-fixtures/pull-invalid-language/fixture.json
  tests/functions-fixtures/pull-project-id-name-conflict/fixture.json
  tests/functions-fixtures/pull-valid-language-python-parses/fixture.json
  tests/functions-fixtures/pull-valid-language-typescript-parses/fixture.json
  tests/functions-fixtures/push-help-env-vars/fixture.json
  tests/functions-fixtures/push-help-flags/fixture.json
  tests/functions-fixtures/push-invalid-bool-env/fixture.json
  tests/functions-fixtures/push-invalid-language/fixture.json
  tests/functions-fixtures/push-multiple-files-accepted/fixture.json
  tests/functions-fixtures/push-reject-external-packages/fixture.json
  tests/functions-fixtures/push-reject-tsconfig/fixture.json
  tests/functions-fixtures/push-reject-type/fixture.json
  tests/functions-fixtures/push-valid-bool-env/fixture.json
  tests/functions-fixtures/push-valid-language-auto-parses/fixture.json
  tests/functions-fixtures/push-valid-language-javascript-parses/fixture.json
  tests/functions-fixtures/push-valid-language-python-parses/fixture.json
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

fix(functions-pull): preserve prompt serialization and identity metadata
  src/functions/pull.rs
Due: cargo-fmt, cargo-clippy

feat(functions): add version filter and legacy compatibility flags
  src/args.rs
  src/functions/api.rs
  src/functions/mod.rs
  src/functions/pull.rs
  src/functions/push.rs
  src/main.rs
  src/utils/git.rs
  tests/functions-fixtures/pull-help-env-vars/fixture.json
  tests/functions-fixtures/pull-help-flags/fixture.json
  tests/functions-fixtures/pull-id-slug-conflict/fixture.json
  tests/functions-fixtures/pull-valid-language-typescript-parses/fixture.json
  tests/functions-fixtures/push-help-env-vars/fixture.json
  tests/functions-fixtures/push-help-flags/fixture.json
  tests/functions-fixtures/push-reject-external-packages/fixture.json
  tests/functions-fixtures/push-reject-tsconfig/fixture.json
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

fix(functions-runner): force re-evaluation of imported input files
  scripts/functions-runner.ts
  tests/functions.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

feat(functions): add progress indicator for pull command and cleanup output
  src/functions/pull.rs
Due: cargo-fmt, cargo-clippy

fix(pull): use correct variable names for project resolution
  Cargo.lock
  Cargo.toml
  src/eval.rs
  src/functions/pull.rs
  src/functions/push.rs
  src/http.rs
  src/utils/fs_atomic.rs
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

Add shared infrastructure for functions push/pull
  Cargo.lock
  Cargo.toml
  scripts/python_runner_common.py
  scripts/runner-common.ts
  src/js_runner.rs
  src/main.rs
  src/python_runner.rs
  src/source_language.rs
  src/utils/fs_atomic.rs
  src/utils/git.rs
  src/utils/mod.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

feat(functions): add positional file arguments to push command
  src/functions/mod.rs
  src/functions/push.rs
  tests/functions-fixtures/push-multiple-files-accepted/fixture.json
Due: cargo-fmt, cargo-clippy

test(ci): add functions test to GitHub Actions workflow and fix more tests
  .github/workflows/tests.yml
  scripts/functions-runner.ts
  tests/functions.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

WIP
  scripts/functions-runner.py
  src/eval.rs
Due: cargo-fmt, cargo-clippy

fix CI
  src/eval.rs
  src/source_language.rs
  tests/eval_dev_server.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  tsc: any of: \.ts$
  oxlint: any of: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx)$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
