Repository braintrustdata/bt: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, oxlint, cargo-fmt, cargo-clippy

tsc:
  name: tsc
  entry: pnpm exec tsc -p tsconfig.json --noEmit
  language: system
  pass_filenames: false

oxlint:
  name: oxlint
  entry: npx --yes oxlint --max-warnings=0 --fix
  language: system
  pass_filenames: true

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  entry: cargo clippy --locked --all-targets --all-features --fix --allow-dirty --allow-staged -- -D warnings
  language: system
  pass_filenames: false

docs(eval): cite vite-node source for the server-close-race comment
  scripts/eval-runner.mts
Due: oxlint

refactor(eval): split eval-runner so .mts is vite-node-only
  scripts/eval-runner-impl.ts
  scripts/eval-runner.mts
  src/eval.rs
  tests/eval_fixtures.rs
  tsconfig.json
Due: tsc, oxlint, cargo-fmt, cargo-clippy

refactor(eval): use .js extension in TLA wrapper import; drop allowImportingTsExtensions
  scripts/eval-runner.mts
  src/eval.rs
  tsconfig.json
Due: oxlint, cargo-fmt, cargo-clippy

refactor(eval): inline prepare_js_runner_cache_dir_in_cwd; use timers/promises in fixture
  src/eval.rs
  tests/evals/js/eval-vite-node-server-close-race/vite.config.ts
Due: tsc, oxlint, cargo-fmt, cargo-clippy

ci(release): publish stable releases from version bumps
  .github/workflows/release-bump-pr.yml
  .github/workflows/release.yml
  .github/workflows/smoke-install-minimal.yml
  .github/workflows/tag-on-version-bump.yml
  CONTRIBUTING.md
Due: none

comments
  README.md
  src/datasets/mod.rs
  src/datasets/pipeline.rs
Due: cargo-fmt, cargo-clippy

fix(topics): validate topic map source facets (#200)
  src/topics/api.rs
Due: cargo-fmt, cargo-clippy

ci(release): publish stable releases from version bumps (#204)
  .github/workflows/release-bump-pr.yml
  .github/workflows/release.yml
  .github/workflows/smoke-install-minimal.yml
  .github/workflows/tag-on-version-bump.yml
  CONTRIBUTING.md
Due: none

chore: x-compile aarch64 bt.exe on windows amd64 azure artifact signing doesn't support running on aarch64, need to check if cross compilation is possible
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  dist-workspace.toml
Due: none

fix: needing to approve installing a cert
  .github/workflows/test-signing-self-signed.yml
Due: none

fix: git shadows link.exe on aarch64 xcompiled on amd64
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
Due: none

fix: trust self-signed code for the test
  .github/workflows/test-signing-self-signed.yml
Due: none

feat: sign bt.exe with Azure artifact signing WIP Lack credentials in github secrets so does not work at the moment
  .github/workflows/release.yml
  dist-workspace.toml
Due: none

chore: sign bt.exe via Azure trusted signing
  .github/workflows/release.yml
  .github/workflows/test-azure-oidc.yml
  .github/workflows/test-signing-self-signed.yml
Due: none

fix: set correct link.exe path
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
Due: none

chore: update comments
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
Due: none

chore: replacing the sandbox (non sensitive) password with random words instead of random hex to bypass secret scanner Since this isn't really sensitive
  .github/workflows/test-signing-self-signed.yml
Due: none

chore: sign all releases
  .github/actions/sign-windows-artifacts/action.yml
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
Due: none

chore: update azure login action to v3
  .github/workflows/release.yml
  .github/workflows/test-azure-oidc.yml
  .github/workflows/test-signing-self-signed.yml
  dist-workspace.toml
Due: none

Support fetching topic maps and functions by id (#193)
  AGENTS.md
  src/functions/api.rs
  src/functions/mod.rs
  src/functions/view.rs
  src/setup/mod.rs
  src/topics/api.rs
  src/topics/mod.rs
  src/topics/report.rs
  tests/cli.rs
  tests/datasets.rs
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

Python push parameters (#198)
  scripts/functions-runner.py
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

Sign bt.exe with Azure (#171)
  .github/actions/sign-windows-artifacts/action.yml
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  .github/workflows/test-azure-oidc.yml
  .github/workflows/test-signing-self-signed.yml
  dist-workspace.toml
Due: none

rename and fmt
  scripts/eval-runner-vite-node.mts
  src/eval.rs
  tests/evals/js/eval-vite-node-server-close-race/pnpm-lock.yaml
Due: oxlint, cargo-fmt, cargo-clippy

regen lock file
  tests/evals/js/eval-vite-node-server-close-race/pnpm-lock.yaml
Due: none

fix(eval): vite-node-specific defense against the server-close race that throws ERR_CLOSED_SERVER (#203)
  scripts/eval-runner-impl.ts
  scripts/eval-runner-vite-node.mts
  src/eval.rs
  tests/eval_fixtures.rs
  tests/evals/js/eval-vite-node-server-close-race/fixture.json
  tests/evals/js/eval-vite-node-server-close-race/package.json
  tests/evals/js/eval-vite-node-server-close-race/pnpm-lock.yaml
  tests/evals/js/eval-vite-node-server-close-race/tests/basic.eval.ts
  tests/evals/js/eval-vite-node-server-close-race/utils/scorer.ts
  tests/evals/js/eval-vite-node-server-close-race/vite.config.ts
  tsconfig.json
Due: tsc, oxlint, cargo-fmt, cargo-clippy

fixes
  src/topics/api.rs
  src/topics/config.rs
  src/topics/mod.rs
  src/topics/status.rs
Due: cargo-fmt, cargo-clippy

feat: package bt as npm pkg
  .github/workflows/publish-npm.yml
  npm/cli/README.md
  npm/cli/bin/bt.js
  npm/cli/lib/platform.js
  npm/cli/package.json
  npm/scripts/build-platform-packages.mjs
  npm/targets.json
Due: oxlint

bump
  src/topics/api.rs
Due: cargo-fmt, cargo-clippy

Fix a few footguns in topics CLI (#205)
  src/topics/api.rs
  src/topics/config.rs
  src/topics/mod.rs
  src/topics/status.rs
Due: cargo-fmt, cargo-clippy

feat: publish bt as cargo pkg to crates.io requires publishing the changes to the rust sdk as a crate publishing braintrust-lingua owning the bt name
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  LICENSE
Due: none

Align with current ts impl
  scripts/dataset-pipeline-runner.ts
  src/datasets/pipeline.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

bump
  scripts/dataset-pipeline-runner.py
  scripts/dataset-pipeline-runner.ts
  src/datasets/pipeline.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

Fix Python remote parameter list serialization
  scripts/eval-runner.py
  tests/eval_fixtures.rs
Due: cargo-fmt, cargo-clippy

Fix Python remote eval parameter serialization in dev mode
  scripts/eval-runner.py
  tests/eval_fixtures.rs
  tests/evals/py/remote_list_params/eval_remote_list_params.py
  tests/evals/py/remote_list_params/fixture.json
Due: cargo-fmt, cargo-clippy

Dataset pipelines (#163)
  .gitignore
  README.md
  scripts/dataset-pipeline-runner.py
  scripts/dataset-pipeline-runner.ts
  src/auth.rs
  src/datasets/api.rs
  src/datasets/mod.rs
  src/datasets/pipeline.rs
  src/datasets/records.rs
  src/eval.rs
  src/http.rs
  src/js_runner.rs
  src/main.rs
  src/runner_sse.rs
  src/sync.rs
  src/sync/discovery.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

chore: Bump 0.10.0
  Cargo.lock
  Cargo.toml
Due: none

chore: Bump 0.10.0 (#211)
  Cargo.lock
  Cargo.toml
Due: none

chore: update rust version to 1.95.0 bt works with 1.86.0 but lingua needs 1.95.0 and that would block the release
  Cargo.toml
Due: none

Path conditions:
  tsc: any of: \.ts$
  oxlint: any of: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx)$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
