Repository braintrustdata/bt: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, oxlint, cargo-fmt, cargo-clippy

tsc:
  name: tsc
  entry: pnpm exec tsc -p tsconfig.json --noEmit
  language: system
  pass_filenames: false

oxlint:
  name: oxlint
  entry: npx --yes oxlint --max-warnings=0 --fix
  language: system
  pass_filenames: true

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  entry: cargo clippy --locked --all-targets --all-features --fix --allow-dirty --allow-staged -- -D warnings
  language: system
  pass_filenames: false

fix: address custom view command review feedback
  src/custom_views.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

refactor: use narrowed trace host selection
  Cargo.lock
  Cargo.toml
  src/trace_host.rs
Due: cargo-fmt, cargo-clippy

refactor: retain session route helper name
  src/trace_host.rs
Due: cargo-fmt, cargo-clippy

refactor: use simplified trace host contract (#377)
  Cargo.lock
  Cargo.toml
  src/trace_host.rs
Due: cargo-fmt, cargo-clippy

feat: Add commands for pushing and previewing custom views (#375)
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Cargo.lock
  Cargo.toml
  README.md
  build.rs
  package.json
  pnpm-lock.yaml
  scripts/custom-views-assets.mjs
  scripts/custom-views-preview.html
  scripts/custom-views-preview.test.mjs
  scripts/custom-views-runner.mjs
  src/custom_views.rs
  src/datasets/api.rs
  src/main.rs
  src/traces.rs
  tests/cli.rs
Due: oxlint, cargo-fmt, cargo-clippy

feat: Publish `@braintrust/bt` on npm
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .gitignore
  CONTRIBUTING.md
  README.md
  npm/bt/README.md
  npm/bt/bin/bt
  npm/bt/package.json
  npm/bt/scripts/bt-helper.js
  npm/bt/scripts/install.js
  npm/platforms/README.md
  npm/platforms/bt-darwin-arm64/package.json
  npm/platforms/bt-darwin-x64/package.json
  npm/platforms/bt-linux-arm64/package.json
  npm/platforms/bt-linux-x64-musl/package.json
  npm/platforms/bt-linux-x64/package.json
  npm/platforms/bt-win32-arm64/package.json
  npm/platforms/bt-win32-x64/package.json
  npm/scripts/build-platform-packages.mjs
  npm/targets.json
  npm/tests/packages.test.mjs
  npm/tests/runtime.test.cjs
Due: oxlint

Update PR #378
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
Due: none

use shared workflows
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
  npm/scripts/build-platform-packages.mjs
  npm/tests/packages.test.mjs
Due: oxlint

fix: honor dataset pipeline trace scope in the Python runner
  README.md
  scripts/dataset-pipeline-runner.py
  scripts/dataset-pipeline-runner.ts
  src/datasets/pipeline.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

Update PR #378
  .github/workflows/release.yml
  npm/bt/scripts/install.js
  npm/tests/runtime.test.cjs
Due: oxlint

Update PR #378
  npm/scripts/build-platform-packages.mjs
  npm/tests/packages.test.mjs
Due: oxlint

Update PR #378
  npm/tests/packages.test.mjs
Due: oxlint

test: move dataset pipeline Python fixtures into real files
  src/datasets/pipeline-test-fixtures/braintrust/__init__.py
  src/datasets/pipeline-test-fixtures/braintrust/dataset_pipeline.py
  src/datasets/pipeline-test-fixtures/braintrust/framework.py
  src/datasets/pipeline-test-fixtures/braintrust/logger.py
  src/datasets/pipeline-test-fixtures/braintrust/trace.py
  src/datasets/pipeline-test-fixtures/scope_probe_pipeline.py
  src/datasets/pipeline.rs
Due: cargo-fmt, cargo-clippy

test: move dataset pipeline TypeScript fixtures into real files
  src/datasets/pipeline-test-fixtures/node/braintrust/index.cjs
  src/datasets/pipeline-test-fixtures/node/braintrust/index.mjs
  src/datasets/pipeline-test-fixtures/node/braintrust/package.json
  src/datasets/pipeline-test-fixtures/node/json_attachment_pipeline.ts
  src/datasets/pipeline-test-fixtures/python/braintrust/__init__.py
  src/datasets/pipeline-test-fixtures/python/braintrust/dataset_pipeline.py
  src/datasets/pipeline-test-fixtures/python/braintrust/framework.py
  src/datasets/pipeline-test-fixtures/python/braintrust/logger.py
  src/datasets/pipeline-test-fixtures/python/braintrust/trace.py
  src/datasets/pipeline-test-fixtures/python/scope_probe_pipeline.py
  src/datasets/pipeline.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

feat: Publish `@braintrust/bt` on npm (#378)
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .gitignore
  README.md
  npm/bt/README.md
  npm/bt/bin/bt
  npm/bt/package.json
  npm/bt/scripts/bt-helper.js
  npm/bt/scripts/install.js
  npm/platforms/README.md
  npm/platforms/bt-darwin-arm64/package.json
  npm/platforms/bt-darwin-x64/package.json
  npm/platforms/bt-linux-arm64/package.json
  npm/platforms/bt-linux-x64-musl/package.json
  npm/platforms/bt-linux-x64/package.json
  npm/platforms/bt-win32-arm64/package.json
  npm/platforms/bt-win32-x64/package.json
  npm/scripts/build-platform-packages.mjs
  npm/targets.json
  npm/tests/packages.test.mjs
  npm/tests/runtime.test.cjs
Due: oxlint

fix: honor dataset pipeline trace scope in the Python runner (#379)
  README.md
  scripts/dataset-pipeline-runner.py
  scripts/dataset-pipeline-runner.ts
  src/datasets/pipeline-test-fixtures/node/braintrust/index.cjs
  src/datasets/pipeline-test-fixtures/node/braintrust/index.mjs
  src/datasets/pipeline-test-fixtures/node/braintrust/package.json
  src/datasets/pipeline-test-fixtures/node/json_attachment_pipeline.ts
  src/datasets/pipeline-test-fixtures/python/braintrust/__init__.py
  src/datasets/pipeline-test-fixtures/python/braintrust/dataset_pipeline.py
  src/datasets/pipeline-test-fixtures/python/braintrust/framework.py
  src/datasets/pipeline-test-fixtures/python/braintrust/logger.py
  src/datasets/pipeline-test-fixtures/python/braintrust/trace.py
  src/datasets/pipeline-test-fixtures/python/scope_probe_pipeline.py
  src/datasets/pipeline.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

ci: consolidate PR checks and add checks-passed gate job
  .github/workflows/checks.yml
  .github/workflows/pre-commit.yml
Due: none

ci: cache Rust builds, cancel superseded PR runs, add job timeouts
  .github/actions/setup-rust-node/action.yml
  .github/workflows/checks.yml
Due: none

ci: use a 60 minute timeout for every checks job
  .github/workflows/checks.yml
Due: none

ci: drop git auth step from checks and skip Rust cache on fork PRs
  .github/actions/setup-rust-node/action.yml
  .github/workflows/checks.yml
Due: none

ci: install Rust, Node, pnpm, bun, and uv through mise
  .github/actions/setup-rust-node/action.yml
  .github/workflows/checks.yml
Due: none

ci: add rustfmt and clippy for the pre-commit job
  .github/actions/setup-rust-node/action.yml
  .github/workflows/checks.yml
Due: none

ci: Bump sdk-actions sha
  .github/workflows/release.yml
Due: none

Update PR #388
  .github/workflows/release.yml
Due: none

ci: add checks-passed gate job and speed up CI (#387)
  .github/actions/setup-rust-node/action.yml
  .github/workflows/checks.yml
  .github/workflows/pre-commit.yml
Due: none

refactor: extract shared JS bundling and trace resolution from custom views
  src/custom_views.rs
  src/js_bundle.rs
  src/main.rs
  src/project_context.rs
  src/traces.rs
  src/utils/mod.rs
  src/utils/slug.rs
Due: cargo-fmt, cargo-clippy

feat: add preprocessors command and scorer preprocessor option
  README.md
  scripts/preprocessors-runner.mjs
  src/functions/create.rs
  src/functions/pull.rs
  src/js_bundle.rs
  src/main.rs
  src/preprocessors.rs
  src/traces.rs
  tests/cli.rs
Due: oxlint, cargo-fmt, cargo-clippy

chore: box trace command args to satisfy clippy large_enum_variant
  src/main.rs
Due: cargo-fmt, cargo-clippy

ci: Bump sdk-actions sha (#388)
  .github/workflows/release.yml
Due: none

ci: Remove smoke checks for npm releases
  .github/workflows/release.yml
Due: none

ci: Remove smoke checks for npm releases (#391)
  .github/workflows/release.yml
Due: none

test: pin unmerged daemon for SDK-398 Windows hooks
  Cargo.lock
  Cargo.toml
Due: none

fix(trace): exclude internal Claude completion spans in Windows canary
  Cargo.lock
  Cargo.toml
Due: none

chore: retain canary transitive dependency resolutions
  Cargo.lock
Due: none

chore: test Windows subprocess guards with latest daemon
  Cargo.lock
  Cargo.toml
Due: none

feat: Create projects inside a project group on `bt functions push`
  scripts/functions-runner.ts
  scripts/runner-common.ts
  src/datasets/pipeline.rs
  src/functions/push.rs
  src/projects/api.rs
  src/projects/create.rs
  src/switch.rs
  src/sync.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

fix: windows credentials
  .github/workflows/checks.yml
  Cargo.lock
  Cargo.toml
  README.md
  scripts/test-windows-auth-msix.ps1
  src/auth.rs
  src/auth/windows_store.rs
  src/auth/windows_store/native.rs
  src/profiles/mod.rs
  src/util_cmd.rs
  src/utils/fs_atomic.rs
  src/utils/mod.rs
  tests/windows-auth-msix/Launcher.cs
Due: cargo-fmt, cargo-clippy

fix: windows creds and auth persistence (#394)
  .github/workflows/checks.yml
  Cargo.lock
  Cargo.toml
  README.md
  scripts/test-windows-auth-msix.ps1
  src/auth.rs
  src/auth/windows_store.rs
  src/auth/windows_store/native.rs
  src/profiles/mod.rs
  src/util_cmd.rs
  src/utils/fs_atomic.rs
  src/utils/mod.rs
  tests/windows-auth-msix/Launcher.cs
Due: cargo-fmt, cargo-clippy

Update PR #395
  scripts/functions-runner.py
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

feat: Create projects inside a project group on `bt functions push` (#395)
  scripts/functions-runner.py
  scripts/functions-runner.ts
  scripts/runner-common.ts
  src/datasets/pipeline.rs
  src/functions/push.rs
  src/projects/api.rs
  src/projects/create.rs
  src/switch.rs
  src/sync.rs
  tests/functions.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

Path conditions:
  tsc: any of: \.ts$
  oxlint: any of: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx)$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
