Repository braintrustdata/bt: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, oxlint, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.4.1
    hooks:
      - id: prettier
        files: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx|json|md|mdx|yaml|yml)$
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm exec tsc -p tsconfig.json --noEmit
        language: system
        files: \.ts$
        pass_filenames: false
      - id: oxlint
        name: oxlint
        entry: npx --yes oxlint --max-warnings=0 --fix
        language: system
        files: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx)$
        pass_filenames: true
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt --all
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo-clippy
        entry: cargo clippy --locked --all-targets --all-features --fix --allow-dirty --allow-staged -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

feat: add branding when bt setup is called
  ascii-logo-blue-small.txt
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

chore: typo
  skills/sdk-install/braintrust-url-formats.md
Due: none

chore test: improve agent prompt repeating url formatting information
  skills/sdk-install/instrument-task.md
Due: none

feat: can create a new project instead of using an existing one
  src/ui/mod.rs
  src/ui/select.rs
Due: cargo-fmt, cargo-clippy

chore: better error message when trying to launch an agent not on PATH
  skills/sdk-install/instrument-task.md
Due: none

chore: formatting markdown
  skills/sdk-install/braintrust-url-formats.md
Due: none

fix: can create a project when there are not projects in the org
  src/ui/select.rs
Due: cargo-fmt, cargo-clippy

fix: dedupe no-input ui state after rebase
  src/ui/mod.rs
Due: cargo-fmt, cargo-clippy

chore: make behavior more consistent and logical
  src/ui/mod.rs
Due: cargo-fmt, cargo-clippy

chore: improve dx, WIP
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

fix: bt switch needed typing for the arrows to work
  src/functions/mod.rs
  src/init.rs
  src/projects/context.rs
  src/projects/delete.rs
  src/projects/view.rs
  src/switch.rs
  src/ui/select.rs
Due: cargo-fmt, cargo-clippy

chore: unify select_project and select_project_interactive
  src/functions/mod.rs
  src/init.rs
  src/projects/delete.rs
  src/projects/view.rs
  src/switch.rs
  src/ui/mod.rs
Due: cargo-fmt, cargo-clippy

chore: detect coding agents by PATH only, add bt setup --no-instrument test
  Cargo.lock
  Cargo.toml
Due: none

chore, test: improve agent prompt Asking to use auto instrumentation
  skills/sdk-install/braintrust-url-formats.md
  skills/sdk-install/instrument-task.md
Due: none

fix: missing package header in cargo.lock
  Cargo.lock
Due: none

chore test: improve agent prompt not mentionning unsued languages when --language is passed or a language is detected
  skills/sdk-install/instrument-task.md
Due: none

Auth + API key creation when using bt setup (#110)
  src/args.rs
  src/auth.rs
  src/eval.rs
  src/functions/mod.rs
  src/functions/pull.rs
  src/functions/push.rs
  src/main.rs
  src/prompts/mod.rs
  src/setup/mod.rs
  src/status.rs
  src/switch.rs
  src/sync.rs
  src/traces.rs
  src/ui/mod.rs
  src/ui/select.rs
  tests/cli.rs
  tests/setup_cli.rs
Due: cargo-fmt, cargo-clippy

test(status): add strip_ansi helper for ANSI code removal
  src/topics/status.rs
Due: cargo-fmt, cargo-clippy

test(status): add strip_ansi helper for ANSI code removal (#116)
  src/topics/status.rs
Due: cargo-fmt, cargo-clippy

feat, fix: improve claude, codex, opencode, cursor mcp setup toml dependency is used for codex
  Cargo.lock
  Cargo.toml
  src/setup/mod.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

chore: reuse main banner for bt setup keep opencode visible by default
  ascii-logo-small.txt
  src/main.rs
  src/setup/mod.rs
  tests/setup_cli.rs
Due: cargo-fmt, cargo-clippy

fix: now reuse same code as bt projects create when bt setup create a project and bt projects delete does not have the prompt to create a project
  src/functions/mod.rs
  src/init.rs
  src/projects/context.rs
  src/projects/create.rs
  src/projects/delete.rs
  src/projects/mod.rs
  src/projects/view.rs
  src/setup/mod.rs
  src/switch.rs
  src/ui/mod.rs
  src/ui/select.rs
Due: cargo-fmt, cargo-clippy

chore: remove duplicate env variable export to coding agent
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

fix: bt setup -i not re-authenticating if token was not available
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

fix post-rebase build issues
  src/ui/mod.rs
Due: cargo-fmt, cargo-clippy

feat: improve md instructions when language is (auto)sleected
  src/setup/mod.rs
  src/ui/mod.rs
  src/ui/select.rs
Due: cargo-fmt, cargo-clippy

MCP setup improved
  Cargo.lock
  Cargo.toml
  skills/sdk-install/braintrust-url-formats.md
  skills/sdk-install/instrument-task.md
  src/functions/mod.rs
  src/init.rs
  src/main.rs
  src/projects/context.rs
  src/projects/create.rs
  src/projects/delete.rs
  src/projects/mod.rs
  src/projects/view.rs
  src/setup/mod.rs
  src/switch.rs
  src/ui/mod.rs
  src/ui/select.rs
  tests/cli.rs
  tests/setup_cli.rs
Due: cargo-fmt, cargo-clippy

chore: show new API key by default
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

chore: unify yolo flag in bt setup (instrument)
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

fix: bt auth login again shows the OAuth option
  src/auth.rs
Due: cargo-fmt, cargo-clippy

fix: env loading only happens with --env-file or BRAINTRUST_ENV_FILE
  src/env.rs
  src/switch.rs
  tests/evals/js/env-default/env-default.eval.ts
Due: tsc, oxlint, cargo-fmt, cargo-clippy

chore: prompt improvements for the agent
  skills/sdk-install/instrument-task.md
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

fix: still opens the tui in a headless terminal ( < /dev/null) print a message to stderr instead of stdout
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

refactor(eval-runner): improve RNG and sampling source handling
  scripts/eval-runner.ts
  tests/evals/js/direct-basic/direct.eval.ts
  tests/evals/js/direct-basic/fixture.json
Due: tsc, oxlint

feat: add sampling modes for eval command
  README.md
  scripts/eval-runner.py
  scripts/eval-runner.ts
  src/eval.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

Add sampling modes for `bt eval` (#103)
  README.md
  scripts/eval-runner.py
  scripts/eval-runner.ts
  src/eval.rs
  tests/evals/js/direct-basic/direct.eval.ts
  tests/evals/js/direct-basic/fixture.json
Due: tsc, oxlint, cargo-fmt, cargo-clippy

fix: overwriting .bt/config.json extras when updating org/project
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

fix: .agents and .bt/skills are in the current folder if outside a git repo instead of crashing the setup
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

fix: api key not forwarded to agent env when passed by --api-key API key created after OAuth now added to base.api_key to behave in the same way as env api keys
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

DX change and better onboarding
  skills/sdk-install/instrument-task.md
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy
