Repository braintrustdata/bt: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, oxlint, cargo-fmt, cargo-clippy

tsc:
  name: tsc
  entry: pnpm exec tsc -p tsconfig.json --noEmit
  language: system
  pass_filenames: false

oxlint:
  name: oxlint
  entry: npx --yes oxlint --max-warnings=0 --fix
  language: system
  pass_filenames: true

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  entry: cargo clippy --locked --all-targets --all-features --fix --allow-dirty --allow-staged -- -D warnings
  language: system
  pass_filenames: false

add back test and fix imports
  src/sync.rs
  src/traces.rs
  src/utils/mod.rs
  tests/datasets-fixtures/snapshots-create/fixture.json
Due: cargo-fmt, cargo-clippy

fix merge
  src/datasets/mod.rs
Due: cargo-fmt, cargo-clippy

more verbose logging, show more metadata on push
  src/functions/api.rs
  src/functions/push.rs
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

newline
  src/functions/push.rs
Due: cargo-fmt, cargo-clippy

chore: fix clippy warnings introduced in 773afa3789470c10ffa35ad2d3c238e30bfd5b27 and f91ca8a8b7472d9ac6075d5723bbf828059738f4
  src/datasets/pipeline.rs
  src/sync/discovery.rs
  src/topics/mod.rs
Due: cargo-fmt, cargo-clippy

Fix Python remote parameter list serialization (#206)
  scripts/eval-runner.py
  tests/eval_fixtures.rs
Due: cargo-fmt, cargo-clippy

sending up local
  src/eval.rs
  tests/eval_fixtures.rs
  tests/evals/js/eval-cjs-monorepo/deno.lock
  tests/evals/js/eval-deno/deno.lock
  tests/evals/js/eval-esm-monorepo/deno.lock
  tests/evals/js/eval-esm/deno.lock
  tests/evals/mixed/mixed-py-js/deno.lock
  tests/evals/py/multi-venv-a/eval_a.py
  tests/evals/py/multi-venv-a/pyproject.toml
  tests/evals/py/multi-venv-a/uv.lock
  tests/evals/py/multi-venv-b/eval_b.py
  tests/evals/py/multi-venv-b/pyproject.toml
  tests/evals/py/multi-venv-b/uv.lock
Due: cargo-fmt, cargo-clippy

feat: package bt for homebrew
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  Cargo.toml
  README.md
  dist-workspace.toml
  src/self_update.rs
Due: cargo-fmt, cargo-clippy

feat: package bt as npm pkg
  .github/workflows/release.yml
  npm/bt/README.md
  npm/bt/bin/bt.js
  npm/bt/lib/platform.js
  npm/bt/package.json
  npm/scripts/build-platform-packages.mjs
  npm/targets.json
Due: oxlint

feat: instead of publishing a package, publish platform specific binaries on npm
  .github/workflows/release.yml
  npm/bt/README.md
  npm/bt/bin/bt.js
  npm/bt/lib/platform.js
  npm/bt/package.json
  npm/scripts/build-platform-packages.mjs
Due: oxlint

fix: failed npm release on one arch blocking other arch
  .github/workflows/release.yml
  npm/scripts/build-platform-packages.mjs
Due: oxlint

chore: update name from bt to cli
  npm/bt/README.md
  npm/bt/lib/platform.js
  npm/bt/package.json
  npm/scripts/build-platform-packages.mjs
Due: oxlint

fix: --json flag doing nothing
  src/main.rs
  src/self_update.rs
Due: cargo-fmt, cargo-clippy

fix: init and switch not respecting --json flag
  src/init.rs
  src/switch.rs
Due: cargo-fmt, cargo-clippy

better json parsing errors
  Cargo.lock
  Cargo.toml
  src/http.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy

fix: various bugs
  src/config/mod.rs
  src/init.rs
  src/main.rs
  src/self_update.rs
  src/setup/mod.rs
  src/switch.rs
Due: cargo-fmt, cargo-clippy

chore: align latest and current field for bt self update --check --json
  src/self_update.rs
Due: cargo-fmt, cargo-clippy

merge parameters, don't override saved values
  src/functions/push.rs
Due: cargo-fmt, cargo-clippy

--json flag doing nothing (#215)
  src/config/mod.rs
  src/init.rs
  src/main.rs
  src/self_update.rs
  src/setup/mod.rs
  src/switch.rs
Due: cargo-fmt, cargo-clippy

chore: fix clippy warnings (#214)
  src/datasets/pipeline.rs
  src/sync/discovery.rs
  src/topics/mod.rs
Due: cargo-fmt, cargo-clippy

release: v0.10.1
  Cargo.lock
  Cargo.toml
Due: none

async query interface
  src/http.rs
  src/sql.rs
Due: cargo-fmt, cargo-clippy

release: v0.10.1 (#217)
  Cargo.lock
  Cargo.toml
Due: none

Specific node npm versionts
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .tool-versions
  mise.toml
Due: none

Clean a bit
  .github/workflows/release.yml
  .tool-versions
  mise.toml
  npm/scripts/build-platform-packages.mjs
Due: oxlint

undo unrelated
  .github/workflows/pre-commit.yml
  .github/workflows/tests.yml
Due: none

fix fixture
  tests/datasets-fixtures/snapshots-create/fixture.json
Due: none

feat: package bt as npm pkg (#208)
  .github/workflows/release.yml
  npm/scripts/build-platform-packages.mjs
  npm/targets.json
Due: oxlint

chore: remove obsolete NPM_TOKEN config
  .github/workflows/release.yml
  npm/scripts/build-platform-packages.mjs
Due: oxlint

chore: remove obsolete NPM_TOKEN config (#220)
  .github/workflows/release.yml
  npm/scripts/build-platform-packages.mjs
Due: oxlint

release: v0.11.0
  Cargo.lock
  Cargo.toml
Due: none

release: v0.11.0 (#219)
  Cargo.lock
  Cargo.toml
Due: none

fix: canary release not being created as they required approval
  .github/workflows/release-canary.yml
Due: none

fix: cargo update needing warm cache My bad, I suggested we use this use python instead to edit the Cargo.lock file
  .github/workflows/release-bump-pr.yml
Due: none

fix: no longer publishing tag before building binaries a tag could be published and the building job cancelled
  .github/workflows/release.yml
Due: none

fix: malformed github comment
  .github/workflows/release-canary.yml
Due: none

chore: concurrency to prevent multiple releases at the same time
  .github/workflows/release.yml
Due: none

fix: tar and zip not nested to same depth CI was searching for bt.exe one layer too deep
  npm/scripts/build-platform-packages.mjs
Due: oxlint

chore: dedicated CI environnement for canary releases (#221)
  .github/workflows/release-canary.yml
Due: none

fix: tar and zip not nested to same depth (#223)
  npm/scripts/build-platform-packages.mjs
Due: oxlint

Path conditions:
  tsc: any of: \.ts$
  oxlint: any of: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx)$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
