Repository braintrustdata/bt: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, oxlint, cargo-fmt, cargo-clippy

tsc:
  name: tsc
  entry: pnpm exec tsc -p tsconfig.json --noEmit
  language: system
  pass_filenames: false

oxlint:
  name: oxlint
  entry: npx --yes oxlint --max-warnings=0 --fix
  language: system
  pass_filenames: true

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  entry: cargo clippy --locked --all-targets --all-features --fix --allow-dirty --allow-staged -- -D warnings
  language: system
  pass_filenames: false

feat(setup): Use new browser signup/signin and org/project selection flow
  src/auth.rs
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

timestamp formatting
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

fix verbosity
  src/args.rs
  src/auth.rs
  src/config/mod.rs
  src/functions/push.rs
  src/main.rs
  src/setup/mod.rs
  src/switch.rs
  src/sync.rs
  src/traces.rs
Due: cargo-fmt, cargo-clippy

try to be better
  src/sync.rs
Due: cargo-fmt, cargo-clippy

Fix verbosity flag (#190)
  src/args.rs
  src/auth.rs
  src/config/mod.rs
  src/functions/push.rs
  src/main.rs
  src/setup/mod.rs
  src/switch.rs
  src/sync.rs
  src/traces.rs
Due: cargo-fmt, cargo-clippy

more efficient data reading
  src/sync.rs
Due: cargo-fmt, cargo-clippy

More efficient data reading in bt sync push (#191)
  src/sync.rs
Due: cargo-fmt, cargo-clippy

chore(security): bump rustls-webpki to 0.103.13 (#187)
  Cargo.lock
Due: none

support fetching a topic map
  AGENTS.md
  src/functions/api.rs
  src/functions/mod.rs
  src/functions/view.rs
  src/setup/mod.rs
  src/topics/api.rs
  src/topics/mod.rs
  src/topics/report.rs
  tests/cli.rs
  tests/datasets.rs
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

fix build
  src/datasets/pipeline.rs
  src/sync.rs
Due: cargo-fmt, cargo-clippy

resolve profile name if multiple exist
  README.md
  src/auth.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

stubbed json attachmet
  scripts/dataset-pipeline-runner.py
  src/datasets/pipeline.rs
  src/http.rs
Due: cargo-fmt, cargo-clippy

fix(datasets): Fix btql select for datasets
  src/datasets/api.rs
  tests/datasets.rs
Due: cargo-fmt, cargo-clippy

idk man linter or smth
  tests/datasets.rs
Due: cargo-fmt, cargo-clippy

shim typescript too
  scripts/dataset-pipeline-runner.ts
  src/datasets/pipeline.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

fix(datasets): Fix btql select for datasets (#195)
  src/datasets/api.rs
  tests/datasets.rs
Due: cargo-fmt, cargo-clippy

release: v0.9.1
  Cargo.lock
  Cargo.toml
Due: none

release: v0.9.1 (#196)
  Cargo.lock
  Cargo.toml
Due: none

Resolve profile name if multiple exist (#194)
  README.md
  src/auth.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

Save profile after auth flow
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

bump braintrust to pull in updates
  tests/evals/js/direct-basic/package.json
  tests/evals/js/entrypoint-basic/package.json
  tests/evals/js/env-default/package.json
  tests/evals/js/env-file/package.json
  tests/evals/js/eval-bt-eval-main-matrix-error/package.json
  tests/evals/js/eval-bun/package.json
  tests/evals/js/eval-cjs-monorepo/package.json
  tests/evals/js/eval-cjs-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-cjs/package.json
  tests/evals/js/eval-deno/package.json
  tests/evals/js/eval-esm-monorepo/package.json
  tests/evals/js/eval-esm-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-esm/package.json
  tests/evals/js/eval-esm/pnpm-lock.yaml
  tests/evals/js/eval-extra-args/package.json
  tests/evals/js/eval-glob/package.json
  tests/evals/js/eval-matrix-param-multi-error/package.json
  tests/evals/js/eval-matrix-param-single/package.json
  tests/evals/js/eval-matrix-param-terminate/package.json
  tests/evals/js/eval-params-json-obj/package.json
  tests/evals/js/eval-params-kv/package.json
  tests/evals/js/eval-params-multi/package.json
  tests/evals/js/eval-ts-cjs/package.json
  tests/evals/js/eval-ts-esm-only-dep/package.json
  tests/evals/js/eval-ts-esm/package.json
  tests/evals/js/eval-ts-local-sdk/package.json
  tests/evals/js/eval-ts-local-sdk/pnpm-lock.yaml
  tests/evals/js/eval-ts-monorepo/package.json
  tests/evals/js/eval-ts-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-ts-node-only/package.json
  tests/evals/js/eval-ts-vite-monorepo/package.json
  tests/evals/js/eval-ts-vite-monorepo/pnpm-lock.yaml
  tests/evals/js/eval-vite-node-cjs/package.json
  tests/evals/js/eval-vite-node-cjs/pnpm-lock.yaml
  tests/evals/js/eval-vite-node/package.json
  tests/evals/js/eval-vite/package.json
  tests/evals/js/eval-vite/pnpm-lock.yaml
Due: none

fix: release message, bt not packaged for brew
  dist-workspace.toml
Due: none

fix: release message, bt not packaged for brew (#197)
  dist-workspace.toml
Due: none

don't let if_exists=None overwrite cli --if-exists
  scripts/functions-runner.py
  tests/functions.rs
Due: cargo-fmt, cargo-clippy

propagate origin field properly
  scripts/dataset-pipeline-runner.py
  scripts/dataset-pipeline-runner.ts
  src/datasets/pipeline.rs
  src/sync/discovery.rs
Due: tsc, oxlint, cargo-fmt, cargo-clippy

Use verification code
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

feat(setup): Use new browser signup/signin and org/project selection flow (#188)
  src/auth.rs
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

release: 0.9.2
  Cargo.lock
  Cargo.toml
Due: none

fix(topics): validate topic map source facets
  src/topics/api.rs
Due: cargo-fmt, cargo-clippy

feat: embed spark inside bt
  Cargo.lock
  Cargo.toml
  build.rs
  src/main.rs
  src/spark.rs
  src/utils/fs_atomic.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy

feat: port spark inside bt
  .gitignore
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/setup/mod.rs
  src/setup/wizard/agents.rs
  src/setup/wizard/auth.rs
  src/setup/wizard/copy.rs
  src/setup/wizard/env_file.rs
  src/setup/wizard/language.rs
  src/setup/wizard/mod.rs
  src/setup/wizard/prompt.rs
  src/setup/wizard/skill_install.rs
  tests/cli.rs
  tests/setup_cli.rs
Due: cargo-fmt, cargo-clippy

chore: remove clippy warnings
  src/spark.rs
Due: cargo-fmt, cargo-clippy

chore: remove unused code detected by clippy
  .gitignore
  src/setup/mod.rs
  src/setup/wizard/auth.rs
  src/setup/wizard/env_file.rs
  src/setup/wizard/prompt.rs
  src/ui/select.rs
Due: cargo-fmt, cargo-clippy

chore: clean prompts, add colors
  .gitignore
  src/setup/wizard/copy.rs
  src/setup/wizard/mod.rs
Due: cargo-fmt, cargo-clippy

chore: white verification code
  .gitignore
  Cargo.lock
  Cargo.toml
  src/setup/wizard/copy.rs
  src/setup/wizard/env_file.rs
  src/setup/wizard/mod.rs
Due: cargo-fmt, cargo-clippy

fix: added .bt to .gitignore every time
  src/setup/wizard/env_file.rs
Due: cargo-fmt, cargo-clippy

chore: better hyperlinks
  Cargo.lock
  Cargo.toml
  src/setup/wizard/copy.rs
  src/setup/wizard/env_file.rs
  src/setup/wizard/mod.rs
Due: cargo-fmt, cargo-clippy

fix(eval): bt eval --runner vite-node fails with ERR_CLOSED_SERVER
  scripts/eval-runner.mts
  src/eval.rs
  tests/eval_fixtures.rs
  tests/evals/js/eval-vite-node-server-close-race/fixture.json
  tests/evals/js/eval-vite-node-server-close-race/package.json
  tests/evals/js/eval-vite-node-server-close-race/pnpm-lock.yaml
  tests/evals/js/eval-vite-node-server-close-race/tests/basic.eval.ts
  tests/evals/js/eval-vite-node-server-close-race/utils/scorer.ts
  tests/evals/js/eval-vite-node-server-close-race/vite.config.ts
  tsconfig.json
Due: tsc, oxlint, cargo-fmt, cargo-clippy

fix(eval): keep ts-node 10.x runner working with a CJS-compatible variant
  src/eval.rs
Due: cargo-fmt, cargo-clippy

release: 0.9.2 (#199)
  Cargo.lock
  Cargo.toml
Due: none

Path conditions:
  tsc: any of: \.ts$
  oxlint: any of: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx)$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
