Repository braintrustdata/bt: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, oxlint, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.4.1
    hooks:
      - id: prettier
        files: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx|json|md|mdx|yaml|yml)$
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: pnpm exec tsc -p tsconfig.json --noEmit
        language: system
        files: \.ts$
        pass_filenames: false
      - id: oxlint
        name: oxlint
        entry: npx --yes oxlint --max-warnings=0 --fix
        language: system
        files: \.(cjs|cts|js|jsx|mjs|mts|ts|tsx)$
        pass_filenames: true
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt --all
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo-clippy
        entry: cargo clippy --locked --all-targets --all-features --fix --allow-dirty --allow-staged -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

fix(setup): add post-success verification prompt
  skills/sdk-install/instrument-task.md
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

fail if user is using btEvalMain export
  scripts/eval-runner.ts
  tests/evals/js/eval-bt-eval-main-matrix-error/fixture.json
  tests/evals/js/eval-bt-eval-main-matrix-error/main.eval.mjs
  tests/evals/js/eval-bt-eval-main-matrix-error/package.json
  tests/evals/js/eval-matrix-param-terminate/fixture.json
Due: tsc, oxlint

formatting
  tests/evals/js/eval-matrix-param-terminate/fixture.json
Due: none

chore: make agent files source of truth
  .agents/skills/bt-review/SKILL.md
  .agents/skills/bt-review/references/bt-patterns.md
  .agents/skills/bt-review/references/clig-checklist.md
  .claude/skills
  CLAUDE.md
Due: none

docs: add CLI implementation guidance
  AGENTS.md
Due: none

Add --matrix-param argument to eval (#141)
  scripts/eval-runner.py
  scripts/eval-runner.ts
  src/eval.rs
  tests/eval_fixtures.rs
  tests/evals/js/eval-bt-eval-main-matrix-error/fixture.json
  tests/evals/js/eval-bt-eval-main-matrix-error/main.eval.mjs
  tests/evals/js/eval-bt-eval-main-matrix-error/package.json
  tests/evals/js/eval-matrix-param-multi-error/fixture.json
  tests/evals/js/eval-matrix-param-multi-error/matrix-multi.eval.mjs
  tests/evals/js/eval-matrix-param-multi-error/package.json
  tests/evals/js/eval-matrix-param-single/fixture.json
  tests/evals/js/eval-matrix-param-single/matrix-single.eval.mjs
  tests/evals/js/eval-matrix-param-single/package.json
  tests/evals/js/eval-matrix-param-terminate/fixture.json
  tests/evals/js/eval-matrix-param-terminate/matrix-terminate.eval.mjs
  tests/evals/js/eval-matrix-param-terminate/package.json
Due: tsc, oxlint, cargo-fmt, cargo-clippy

chore: make agent files source of truth (#159)
  .agents/skills/bt-review/SKILL.md
  .agents/skills/bt-review/references/bt-patterns.md
  .agents/skills/bt-review/references/clig-checklist.md
  .claude/skills
  AGENTS.md
  CLAUDE.md
Due: none

chore: update gitignore with agents config folder
  .gitignore
Due: none

fix: cursor being silent when in background verbose cursor needs --output-format stream-json to output its thinking in real time, which requires some custom code
  src/setup/agent_stream.rs
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

fix: copilot now streams output when verbose background
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

fix(setup): add post-success verification prompt (#158)
  skills/sdk-install/instrument-task.md
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

fix: only annotate starter project when it is the sole project
  src/ui/select.rs
Due: cargo-fmt, cargo-clippy

formatting
  src/ui/select.rs
Due: cargo-fmt, cargo-clippy

fix(setup): clarify default project selection (#157)
  src/setup/mod.rs
  src/ui/select.rs
Due: cargo-fmt, cargo-clippy

chore: gemini trust folder when run in background
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

fix: show gemini output when verbose background
  src/setup/agent_stream.rs
Due: cargo-fmt, cargo-clippy

fix: copilot mcp installation
  README.md
  scripts/skill-smoke-test.sh
  src/setup/agent_stream.rs
  src/setup/mod.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

fix: sync and async text must not run in parallel
  src/setup/mod.rs
Due: cargo-fmt, cargo-clippy

chore: e2e test for bt setup without any arguments
  Cargo.lock
  Cargo.toml
  tests/setup_e2e.rs
Due: cargo-fmt, cargo-clippy

chore: test now fail if fake browser helper doesn't trigger
  tests/setup_e2e.rs
Due: cargo-fmt, cargo-clippy

chore: add more env variables to clean before the test
  tests/setup_e2e.rs
Due: cargo-fmt, cargo-clippy

chore: update cargo.lock
  Cargo.lock
Due: none

refactor(cli): extract shared project command context
  src/experiments/mod.rs
  src/functions/mod.rs
  src/main.rs
  src/project_context.rs
  src/projects/context.rs
  src/projects/mod.rs
  src/prompts/mod.rs
  src/topics/api.rs
  src/topics/mod.rs
Due: cargo-fmt, cargo-clippy

docs: clarify positional argument flag requirements
  .agents/skills/bt-review/SKILL.md
  .agents/skills/bt-review/references/bt-patterns.md
Due: none

feat(datasets): add spinner feedback and improve CLI arg handling
  src/datasets/delete.rs
  src/datasets/mod.rs
  src/datasets/refresh.rs
Due: cargo-fmt, cargo-clippy

docs: update dataset records documentation and validation
  README.md
  src/datasets/records.rs
  tests/datasets-fixtures/upload-refresh/fixture.json
Due: cargo-fmt, cargo-clippy

refactor(datasets): refactor dataset update commands and add row limits
  README.md
  src/datasets/api.rs
  src/datasets/create.rs
  src/datasets/mod.rs
  src/datasets/records.rs
  src/datasets/refresh.rs
  src/datasets/upload.rs
  src/datasets/view.rs
  src/project_context.rs
  tests/datasets-fixtures/upload-refresh/fixture.json
Due: cargo-fmt, cargo-clippy

refactor: simplify dataset update to remove diffing logic
  README.md
  src/datasets/api.rs
  src/datasets/create.rs
  src/datasets/mod.rs
  src/datasets/records.rs
  src/datasets/refresh.rs
  src/datasets/update.rs
  src/datasets/utils.rs
  src/datasets/view.rs
  tests/datasets-fixtures/upload-refresh/fixture.json
Due: cargo-fmt, cargo-clippy

feat(datasets): add remote dataset management commands
  README.md
  src/datasets/api.rs
  src/datasets/create.rs
  src/datasets/delete.rs
  src/datasets/list.rs
  src/datasets/mod.rs
  src/datasets/records.rs
  src/datasets/refresh.rs
  src/datasets/upload.rs
  src/datasets/view.rs
  src/http.rs
  src/main.rs
  tests/datasets-fixtures/create-inputs/fixture.json
  tests/datasets-fixtures/create-inputs/rows.jsonl
  tests/datasets-fixtures/upload-refresh/fixture.json
  tests/datasets-fixtures/upload-refresh/refresh.jsonl
  tests/datasets-fixtures/upload-refresh/upload.jsonl
  tests/datasets.rs
Due: cargo-fmt, cargo-clippy

feat(datasets): add description support for dataset creation
  README.md
  src/datasets/api.rs
  src/datasets/create.rs
  src/datasets/mod.rs
Due: cargo-fmt, cargo-clippy

preserve output field during record uploads
  src/datasets/records.rs
  src/project_context.rs
  src/topics/mod.rs
Due: cargo-fmt, cargo-clippy

fix(datasets): accept view --json rows as create/update input
  src/datasets/records.rs
Due: cargo-fmt, cargo-clippy

fix(datasets): cap BTQL page size to requested row limit
  src/datasets/api.rs
Due: cargo-fmt, cargo-clippy

fix: removed windows code signing from pre-release
  .github/workflows/release-canary.yml
Due: none

chore: no need to check the target matrix for checking windows
  .github/workflows/release.yml
Due: none

fix: bad field mapping
  dist-workspace.toml
Due: none

fix ids
  Cargo.lock
  Cargo.toml
  src/datasets/records.rs
  src/utils/ids.rs
  src/utils/mod.rs
Due: cargo-fmt, cargo-clippy

Copilot and Qwen coding agent
  .gitignore
  README.md
  scripts/skill-smoke-test.sh
  src/setup/agent_stream.rs
  src/setup/mod.rs
  tests/cli.rs
Due: cargo-fmt, cargo-clippy

bt.exe for Windows aarch64
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  dist-workspace.toml
Due: none

use existing btql client
  src/datasets/api.rs
  src/datasets/records.rs
  src/http.rs
Due: cargo-fmt, cargo-clippy
